node-red.old/flows.json
[{"id":"d4c47ef8308ef52f","type":"tab","label":"Time Control","disabled":false,"info":"","env":[]},{"id":"d34aa650.c12f58","type":"tab","label":"Heartbeats","disabled":false,"info":""},{"id":"cce9c832.895888","type":"tab","label":"Union Station","disabled":false,"info":""},{"id":"4dc1f2f2.a22a4c","type":"tab","label":"Set Variables","disabled":false,"info":""},{"id":"309344c1.40287c","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"9e3b74d6.792478","type":"tab","label":"Appliances","disabled":false,"info":""},{"id":"e6a777a2.6a7ab8","type":"tab","label":"Development","disabled":false,"info":""},{"id":"dc4b87e4.2d8d68","type":"tab","label":"Climate Control","disabled":false,"info":""},{"id":"e562fd8b.de18c","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"c97774de.c62ec8","type":"tab","label":"Device Status Notifications","disabled":false,"info":""},{"id":"3242b75e.5ac908","type":"tab","label":"Pepito","disabled":false,"info":""},{"id":"9e4342de.e38df","type":"tab","label":"New GF Clock","disabled":false,"info":""},{"id":"a8da756e.1ff948","type":"tab","label":"Button Watcher","disabled":false,"info":""},{"id":"6ed307f7.f17e28","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"5d820ca2.1e4494","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"b3f3a3d3.eecf","type":"tab","label":"Time Lapse Crib","disabled":false,"info":""},{"id":"6805dac0.9d5104","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a0fab98.4d63d48","type":"tab","label":"Audiomations","disabled":false,"info":""},{"id":"418f1c03.22c8e4","type":"tab","label":"System Backup","disabled":false,"info":""},{"id":"5f8efb7a.7a3bc4","type":"tab","label":"Furniture","disabled":false,"info":""},{"id":"e8b16d9b.c9233","type":"tab","label":"Simple NodeRed","disabled":false,"info":""},{"id":"4d7aadeed64b996a","type":"tab","label":"Daily Automations","disabled":false,"info":"","env":[]},{"id":"c2ebc97fb0954050","type":"tab","label":"Media Players","disabled":false,"info":"","env":[]},{"id":"bad844c47367a689","type":"tab","label":"Night Time / Nap Time","disabled":false,"info":"","env":[]},{"id":"863929b5d6c7ebed","type":"tab","label":"Shower","disabled":false,"info":"","env":[]},{"id":"87e6f72395a037df","type":"tab","label":"Folders","disabled":false,"info":"","env":[]},{"id":"ab1c930c.be40c","type":"subflow","name":"Silent TTS","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"715c62e4.4b128c"}]}],"out":[{"x":1460,"y":220,"wires":[{"id":"698e0c30.b663d4","port":0}]}],"env":[{"name":"message","type":"str","value":""},{"name":"media_player","type":"str","value":""}],"color":"#DDAA99"},{"id":"b62e4b55.b6e888","type":"subflow","name":"Get Trigger User Name","info":"","category":"","in":[{"x":280,"y":140,"wires":[{"id":"8ca2a17.9ca4d6"}]}],"out":[{"x":1080,"y":140,"wires":[{"id":"63bfcf7a.4ea8c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d13eb8cc761f0d8","type":"group","z":"a0fab98.4d63d48","name":"Front Patio Sounds","style":{"label":true,"stroke":"#000000","fill":"#ffC000","fill-opacity":"0.84","color":"#000000"},"nodes":["33120ba4266214ab","1fe82142ceb5a21b","ae32bf9f73bb89f4","3f8173bc7c308c99","5614e3b4b2ef6205","4085b058ef38b4b5","9ebc7cc69635e920","0c915d9e2822efca","4c43b2e8711dd6f1","bd2f94fa017439cd","74f7a6057f011213","cbc99998cc5abaca","6d8a7b83e09a72b7"],"x":274,"y":19},{"id":"7c7fd11de12b66b0","type":"group","z":"a0fab98.4d63d48","name":"Doorbell","style":{"label":true},"nodes":["2e436e2507a20133","d4b9b8acaa0e907b","eb8eddf7ca31ab5f","4eeb6fd7c01fd4f8","385b9bde6855428d","e6c8d109c2aaf7ae","671f888f50e7a2e6","56f22c684ad2d386","6afe1149c11f786b","66ccad58f3eca58b","1c7fb04ed27c4641","202d3957016b38c1"],"x":314,"y":259},{"id":"314f89b738cad55c","type":"group","z":"c2ebc97fb0954050","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3d8d53c508150fda","2f318dfcf01a9257","821af0c7e38669f5","14839a7f6ff01b2f","35f57526ea70b707","3826d59098b12b86","425f07b1336a0f54","81edb34161cfae17","d5003d23f664f004","3147b498ed11c2b2","984f3d9c10d99f09","6106ac4b04d8fa7b"],"x":514,"y":19},{"id":"f3eb5b908ba21d2c","type":"group","z":"c2ebc97fb0954050","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["aae87f799fa1e0da","a07290664da587ed","d02a9e41691fe519"],"x":514,"y":319},{"id":"c7cbc76b.fd06a8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"757ea73d.1da5b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"554410ab.9c352","type":"ui_group","name":"Default","tab":"83ccf5de.28b368","order":1,"disp":true,"width":"6","collapse":false},{"id":"83ccf5de.28b368","type":"ui_tab","name":"Home","icon":"dashboard","order":8},{"id":"d55904da.6076e8","type":"api-call-service","z":"ab1c930c.be40c","name":"Mute","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_mute","areaId":[],"deviceId":[],"entityId":["{{media_player}}"],"data":"{\"is_volume_muted\":true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":220,"wires":[["dbdbd11f.a129d"]]},{"id":"52fb11f1.9b757","type":"delay","z":"ab1c930c.be40c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":940,"y":220,"wires":[["afe92288.ae47b"]]},{"id":"afe92288.ae47b","type":"api-call-service","z":"ab1c930c.be40c","name":"Unmute","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_mute","areaId":[],"deviceId":[],"entityId":["{{media_player}}"],"data":"{\"is_volume_muted\":false}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":220,"wires":[["698e0c30.b663d4"]]},{"id":"698e0c30.b663d4","type":"api-call-service","z":"ab1c930c.be40c","name":"Google TTS","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["{{media_player}}"],"data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":220,"wires":[[]]},{"id":"dbdbd11f.a129d","type":"api-call-service","z":"ab1c930c.be40c","name":"1 Sec Silence","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["{{media_player}}"],"data":"{\"media_content_id\":\"https://hassio.jongriffith.com:8123/local/sounds/1sec.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":220,"wires":[["52fb11f1.9b757"]]},{"id":"6e8384c6.72078c","type":"change","z":"ab1c930c.be40c","name":"Set Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["d55904da.6076e8"]]},{"id":"715c62e4.4b128c","type":"change","z":"ab1c930c.be40c","name":"Set Media Player","rules":[{"t":"set","p":"media_player","pt":"msg","to":"media_player","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":220,"wires":[["6e8384c6.72078c"]]},{"id":"71513b70.d07824","type":"file in","z":"b62e4b55.b6e888","name":"auth","filename":"/config/.storage/auth","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":550,"y":140,"wires":[["833cfa89.049518"]]},{"id":"833cfa89.049518","type":"json","z":"b62e4b55.b6e888","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":140,"wires":[["2bd011b4.4f829e"]]},{"id":"2bd011b4.4f829e","type":"function","z":"b62e4b55.b6e888","name":"","func":"var user_id = msg.data.new_state.context.user_id;\nvar user_name = \"\";\n\nfor (var i = 0; i < msg.payload.data.users.length; i++) {\n    \n    var user = msg.payload.data.users[i];\n    \n    console.log(user.id);\n    \n    if (user.id == user_id) {\n        user_name = user.name;\n        break;\n    }\n}\n\nmsg.user_name = user_name == \"Hass.io\" ? \"Home Assistant\" : user_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[["63bfcf7a.4ea8c"]]},{"id":"8ca2a17.9ca4d6","type":"change","z":"b62e4b55.b6e888","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["71513b70.d07824"]]},{"id":"63bfcf7a.4ea8c","type":"change","z":"b62e4b55.b6e888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[[]]},{"id":"5c354f78e87c9825","type":"bigtimer","z":"d4c47ef8308ef52f","outtopic":"","outpayload1":"","outpayload2":"","name":"Halloween 7AM - 8PM","comment":"","lat":0,"lon":0,"starttime":"420","endtime":"720","starttime2":"120","endtime2":"1200","startoff":0,"endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"enable","outtext2":"disable","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":"0","month1":"0","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":340,"wires":[[],[],["7ddcca9ad0d58175"]]},{"id":"7ddcca9ad0d58175","type":"link out","z":"d4c47ef8308ef52f","name":"Halloween Time Control","mode":"link","links":["05423e95501aed1c"],"x":435,"y":340,"wires":[]},{"id":"ca50e8e26d8a57ac","type":"server-events","z":"d4c47ef8308ef52f","name":"Watch State Changes","server":"c7cbc76b.fd06a8","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":180,"y":100,"wires":[["7fe29bc0004591e6"]]},{"id":"43227815ecc9a9b1","type":"debug","z":"d4c47ef8308ef52f","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":240,"wires":[]},{"id":"7fe29bc0004591e6","type":"switch","z":"d4c47ef8308ef52f","name":"Filter Start Button","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"input_button.start_button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["89b3e5ece40c0a14","1c2df22b4f2f4986"]]},{"id":"89b3e5ece40c0a14","type":"change","z":"d4c47ef8308ef52f","name":"Create Zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["e215d5bbfe7cbf8a"]]},{"id":"e215d5bbfe7cbf8a","type":"stoptimer","z":"d4c47ef8308ef52f","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":940,"y":140,"wires":[["d1e8c2f3fce053a9"],["43227815ecc9a9b1"]]},{"id":"d1e8c2f3fce053a9","type":"increment","z":"d4c47ef8308ef52f","name":"Increment by 1","target":"payload","x":940,"y":240,"wires":[["43227815ecc9a9b1","e215d5bbfe7cbf8a"]]},{"id":"1c2df22b4f2f4986","type":"api-call-service","z":"d4c47ef8308ef52f","name":"\"Starting\"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"tts","service":"google_say","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer1"],"data":"{\"message\":\"Starting\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":100,"wires":[[]]},{"id":"e080a627fa816f38","type":"inject","z":"d4c47ef8308ef52f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STOP","payloadType":"str","x":670,"y":220,"wires":[["e215d5bbfe7cbf8a"]]},{"id":"1a02fd79d24e6e7a","type":"bigtimer","z":"d4c47ef8308ef52f","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":380,"y":520,"wires":[[],[],[]]},{"id":"7e295cda.a4e054","type":"inject","z":"d34aa650.c12f58","name":"1 Minute","props":[{"p":"payload"},{"p":"seconds","v":"60","vt":"num"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["cea278ca.0d2ff8"]]},{"id":"a98d1094.16baa","type":"inject","z":"d34aa650.c12f58","name":"5 Seconds","props":[{"p":"payload"},{"p":"seconds","v":"5","vt":"num"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["cea278ca.0d2ff8"]]},{"id":"b5a04ec4.53329","type":"comment","z":"d34aa650.c12f58","name":"Pulse Intervals Seconds","info":"","x":140,"y":40,"wires":[]},{"id":"10f1481a.a73f98","type":"inject","z":"d34aa650.c12f58","name":"@ 1AM","props":[{"p":"payload"},{"p":"seconds","v":"midnight","vt":"str"}],"repeat":"","crontab":"59 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":120,"wires":[["cea278ca.0d2ff8"]]},{"id":"ed6c748a.1304e8","type":"inject","z":"d34aa650.c12f58","name":"5 Minutes","props":[{"p":"payload"},{"p":"seconds","v":"300","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["cea278ca.0d2ff8"]]},{"id":"cea278ca.0d2ff8","type":"link out","z":"d34aa650.c12f58","name":"To Union Station","mode":"link","links":["4741f5c.a42420c"],"x":435,"y":200,"wires":[]},{"id":"7842d22a.0c243c","type":"inject","z":"d34aa650.c12f58","name":"15 Seconds","props":[{"p":"payload"},{"p":"seconds","v":"15","vt":"num"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["cea278ca.0d2ff8"]]},{"id":"3a0af433.9cbd1c","type":"inject","z":"d34aa650.c12f58","name":"@ Midnight","props":[{"p":"payload"},{"p":"seconds","v":"noon","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":80,"wires":[["cea278ca.0d2ff8"]]},{"id":"5c55eb7b.9b18e4","type":"inject","z":"d34aa650.c12f58","name":"30 Seconds","props":[{"p":"payload"},{"p":"seconds","v":"30","vt":"num"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["cea278ca.0d2ff8"]]},{"id":"312c2a5b.2ddd66","type":"inject","z":"d34aa650.c12f58","name":"2 Minutes","props":[{"p":"payload"},{"p":"seconds","v":"120","vt":"num"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["cea278ca.0d2ff8"]]},{"id":"842bae14.37b69","type":"comment","z":"d34aa650.c12f58","name":"Pulse Intervals Daily","info":"","x":730,"y":40,"wires":[]},{"id":"2fd91183.cf3f6e","type":"stoptimer","z":"d34aa650.c12f58","duration":"10","units":"Second","payloadtype":"num","payloadval":"1","name":"","x":1750,"y":100,"wires":[[],[]]},{"id":"6fa44fd2.aacbe","type":"comment","z":"cce9c832.895888","name":"60 Seconds","info":"","x":590,"y":300,"wires":[]},{"id":"93260dfd.6a918","type":"comment","z":"cce9c832.895888","name":"5 Seconds","info":"","x":500,"y":20,"wires":[]},{"id":"ce987f9e.bdcf4","type":"link out","z":"cce9c832.895888","name":"Departures: 15 Seconds","links":["341471.47218b9"],"x":455,"y":180,"wires":[]},{"id":"989cd5ce.e1ce28","type":"comment","z":"cce9c832.895888","name":"15 Seconds","info":"","x":510,"y":140,"wires":[]},{"id":"9154cb9d.ab8018","type":"switch","z":"cce9c832.895888","name":"Interval Check","property":"seconds","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"300","vt":"num"},{"t":"eq","v":"noon","vt":"str"},{"t":"eq","v":"midnight","vt":"str"},{"t":"eq","v":"120","vt":"num"}],"checkall":"true","repair":false,"outputs":8,"x":260,"y":280,"wires":[["3857d437.70cafc"],["ce987f9e.bdcf4"],["b1ae9613.fee2a8"],["7bfd16e4.fd62a8"],["5a1d2d5f.19ee64"],["651c656c.6254ac"],["b273b3c6.bb7ea"],["6959bed1.91458"]]},{"id":"3857d437.70cafc","type":"link out","z":"cce9c832.895888","name":"Departures: 5 Seconds","links":["f074740.694639","9f107256.8f195","f0ffff72.3a5af","3e228884.383468","6a94348e.d65b9c","b2883fc49943d1af"],"x":455,"y":80,"wires":[]},{"id":"4741f5c.a42420c","type":"link in","z":"cce9c832.895888","name":"From Heartbeats","links":["cea278ca.0d2ff8"],"x":135,"y":280,"wires":[["9154cb9d.ab8018"]]},{"id":"7bfd16e4.fd62a8","type":"link out","z":"cce9c832.895888","name":"60 Seconds","links":["fcfd179a.bdb178","8bcd49f4.d5dd18","cb41d2b2.8f147","9f349dfd.eb4","2b3957ca956b3749","93253529ec3c8f89"],"x":605,"y":340,"wires":[]},{"id":"b273b3c6.bb7ea","type":"link out","z":"cce9c832.895888","name":"Midnight","links":["163a768.13e758a","cced2c21.dafee","919561a82f9715b1"],"x":455,"y":580,"wires":[]},{"id":"5d5edcb3.4cfb04","type":"comment","z":"cce9c832.895888","name":"At Noon","info":"","x":500,"y":460,"wires":[]},{"id":"73eb9ca8.cba984","type":"comment","z":"cce9c832.895888","name":"5 Minutes","info":"","x":500,"y":380,"wires":[]},{"id":"5a1d2d5f.19ee64","type":"link out","z":"cce9c832.895888","name":"5 Minutes","links":[],"x":455,"y":420,"wires":[]},{"id":"805b2a29.02f9c8","type":"comment","z":"cce9c832.895888","name":"30 Seconds","info":"","x":510,"y":220,"wires":[]},{"id":"b1ae9613.fee2a8","type":"link out","z":"cce9c832.895888","name":"30 Seconds","links":["304f9425.fcf92c"],"x":455,"y":260,"wires":[]},{"id":"9b82049.99b1bf8","type":"comment","z":"cce9c832.895888","name":"At Midnight","info":"","x":510,"y":540,"wires":[]},{"id":"651c656c.6254ac","type":"link out","z":"cce9c832.895888","name":"Noon","links":[],"x":455,"y":500,"wires":[]},{"id":"e214ba21.8916f8","type":"comment","z":"cce9c832.895888","name":"2 Minutes","info":"","x":500,"y":620,"wires":[]},{"id":"6959bed1.91458","type":"link out","z":"cce9c832.895888","name":"2 Minutes","links":["96897ff3.c11e3"],"x":455,"y":660,"wires":[]},{"id":"4df65483.b36aec","type":"function","z":"4dc1f2f2.a22a4c","name":"Calendar Variables","func":"const gHomeAssistant = global.get('homeassistant').homeAssistant;\nconst monthNames = [\"january\", \"february\", \"march\", \"april\", \"may\", \"june\",\n  \"july\", \"august\", \"september\", \"october\", \"november\", \"december\"\n];\nconst dayNames = [\"sunday\", \"monday\", \"tuesday\", \"wednesday\", \"thursday\", \"friday\", \"saturday\"];\nconst d = new Date();\n\nvar monthName = monthNames[d.getMonth()];\nvar dayName = dayNames[d.getDay()];\nvar hourNumber = d.getHours();\nvar monthDay = d.getDate();\n\nif (gHomeAssistant.states['calendar.holidays_in_united_states'].state == \"off\") {\n    var holiday = false;\n} else {\n    var holiday = true;\n}\n\nvar timeData = {\n    \"monthName\" : monthName,\n    \"dayName\" : dayName,\n    \"hourNumber\" : hourNumber,\n    \"monthDay\" : monthDay,\n    \"holidayToday\" : holiday,\n    \"nextHoliday\" : gHomeAssistant.states['calendar.holidays_in_united_states'].attributes.message\n    };\n\nglobal.set('calendarData', timeData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[[]]},{"id":"c89aa49c.b07428","type":"function","z":"4dc1f2f2.a22a4c","name":"Global Variables: Sound FX","func":"// This variable holds the path to the root folder where I store my audio files and sound fx.\nvar soundFxPath = \"/config/www/sounds/\";\n\n// This variable holds the current month name.    \nvar soundFxMonth = global.get('calendarData').monthName;\n\n// This variable holds key/value pairs allowing me to assign a holiday to a given month.\nvar soundFxThemes = {\n    \"january\" : \"\",\n    \"february\" : \"\",\n    \"march\" : \"\",\n    \"april\" : \"\",\n    \"may\" : \"\",\n    \"june\" : \"\",\n    \"july\" : \"\",\n    \"august\" : \"\",\n    \"september\": \"\",\n    \"october\" : \"halloween\",\n    \"november\" : \"thanksgiving\",\n    \"december\" : \"christmas\"\n    };\n    \n// This snippet of code creates some volume values depending upon the time of day to ensure the media player volume is defined when the media player is called.    \nvar currentHour = global.get('calendarData').hourNumber;\nif (currentHour < 5) {\n    var soundFxLevel = 0.3;\n} else {\n    var soundFxLevel = 0.7;\n}\n\n// This variable uses the month number as an index value to use when looking up the theme name that corresponds to the month number to define the name of the current intended sound effects theme.\nvar soundFxTheme = soundFxThemes[soundFxMonth];\n\n// This assembles all of the information into an array.\nvar soundFxURL = global.get('globalVariables').soundFxURL\nvar soundFx = {\n    \"soundFxPath\" : soundFxPath,\n    \"soundFxCoffeePath\" : soundFxPath + \"coffee/\",\n    \"soundFxPepitoPath\" : soundFxPath + \"pepito/\",\n    \"soundFxDeskUpPath\" : soundFxPath + \"desk/up/\",\n    \"soundFxDeskDownPath\" : soundFxPath + \"desk/down/\",\n    \"soundFxTheme\" : soundFxTheme,\n    \"soundFxLevel\" : soundFxLevel,\n    \"soundFxURL\" : soundFxURL\n    };\n\n// This sets a global NodeRED variable to contain the above array which can be used by any other flow.\nglobal.set(\"soundFx\", soundFx);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[[]]},{"id":"791b4e49.c3515","type":"function","z":"4dc1f2f2.a22a4c","name":"Coffee Sounds","func":"var coffeePath = global.get('soundFx').soundFxCoffeePath;\nvar themePath = global.get('soundFx').soundFxTheme;\n\n\nmsg.payload = coffeePath + themePath;\n\n\n// Which sound should it play?\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[[]]},{"id":"952152fe.317","type":"function","z":"4dc1f2f2.a22a4c","name":"Get Global HA States / Services","func":"global.set(\"states\", global.get('homeassistant').homeAssistant.states);\nglobal.set(\"services\", global.get('homeassistant').homeAssistant.services);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[[]]},{"id":"5cbe5dc8.24a324","type":"function","z":"4dc1f2f2.a22a4c","name":"Set Global Presence Variables","func":"var time = global.get('homeassistant').homeAssistant['states']['sensor.time'].state;\nvar date = global.get('homeassistant').homeAssistant['states']['sensor.date'].state;\nvar presence = global.get('presence');\nif (msg.payload == \"home\"){\n    var who = msg.data.entity_id.replace('person.','');\n    presence.who = who;\n    presence.when =  time +' '+ date;\n    presence.what = \"in\";\n} else if (msg.payload == \"not_home\") {\n    var who = msg.data.entity_id.replace('person.','');\n    presence.who = who;\n    presence.when =  time +' '+ date;\n    presence.what = \"out\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[[]]},{"id":"95271001.21785","type":"function","z":"4dc1f2f2.a22a4c","name":"Global Variables: Cameras","func":"var camera2Path = \"/config/www/images/cameras/camera2/\";\n\nvar cameras = {\n    \"camera2Path\" : camera2Path\n    };\n\nglobal.set(\"cameras\", cameras);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[[]]},{"id":"240b9584.1646da","type":"function","z":"4dc1f2f2.a22a4c","name":"Set Global Variables","func":"// This function creates an array of values all assigned to a global context \n// variable which can be accessed from any node throughout NodeRED.\n\nmsg.topic = \"globalVariables\" // Set the topic to \"globalVariables\"\n\nconst gHomeAssistant = global.get('homeassistant').homeAssistant.states; // Extract every state and service from HA into an array.\nvar holiday = global.get('homeassistant').homeAssistant.states['calendar.holidays_in_united_states'].state;\n\n//const gHomeAssistant = global.get('homeassistant').homeAssistant.states['person.jon_griffith'].state;\n\n\nconst HAUrl = \"http://192.168.1.101:8123\" // Home Assistant's internal URL\n/*var melanie = gHomeAssistant.states['person.melanie_griffith'].state;\nvar jon = gHomeAssistant.states['person.jon_griffith'].state;\n\nif (melanie == \"home\") {\n    var melanieHome = true;\n} else {\n    var melanieHome = false;\n}\n\nif (jon == \"home\") {\n    var jonHome = true;\n} else {\n    var jonHome = false;\n}*/\n\nvar states = { \n    \"holiday\" : holiday,\n    /*\"holidayName\" : gHomeAssistant.states['calendar.holidays_in_united_states'].attributes.message,*/\n    /*\"melanieHome\" : melanieHome,\n    \"jonHome\" : jonHome,*/\n    \"soundFxURL\" : \"media-source://media_source/local/sounds\",\n    //\"soundFxURL\" : HAUrl + \"/local/sounds\",\n    \"soundFxPath\" : \"/config/www/sounds/\",\n    \"HAUrl\" : HAUrl\n    };\n\nglobal.set('globalVariables', states);\n\nvar globalVariables = global.get(\"globalVariables\");\n\nmsg.payload = gHomeAssistant;\n//msg.payload = globalVariables;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":380,"wires":[["e50bb42b8f7e2f2c"]]},{"id":"fcfd179a.bdb178","type":"link in","z":"4dc1f2f2.a22a4c","name":"60 Seconds","links":["7bfd16e4.fd62a8"],"x":135,"y":40,"wires":[["952152fe.317","c89aa49c.b07428","4df65483.b36aec","791b4e49.c3515","95271001.21785","e02eade7536fef81","895f6293c8263512"]]},{"id":"192c0a2.4f372f6","type":"api-render-template","z":"4dc1f2f2.a22a4c","name":"Get Outside Temperature","server":"c7cbc76b.fd06a8","version":0,"template":"{{ state_attr('weather.kphx_daynight','temperature')}}","resultsLocation":"climate.tempOutside","resultsLocationType":"global","templateLocation":"template","templateLocationType":"msg","x":950,"y":40,"wires":[[]]},{"id":"68089115.e0929","type":"api-render-template","z":"4dc1f2f2.a22a4c","name":"Get Dining Room Temperature","server":"c7cbc76b.fd06a8","version":0,"template":"{{states.sensor.multisensor_1_temperature.state}}","resultsLocation":"climate.tempDiningRoom","resultsLocationType":"global","templateLocation":"template","templateLocationType":"msg","x":970,"y":120,"wires":[[]]},{"id":"d34369a5.cf2a38","type":"api-render-template","z":"4dc1f2f2.a22a4c","name":"Fan Season Setting","server":"c7cbc76b.fd06a8","version":0,"template":"{{ state_attr('weather.kphx_daynight','temperature') > 75 }}","resultsLocation":"climate.fan_season","resultsLocationType":"global","templateLocation":"template","templateLocationType":"msg","x":930,"y":80,"wires":[[]]},{"id":"9f349dfd.eb4","type":"link in","z":"4dc1f2f2.a22a4c","name":"","links":["7bfd16e4.fd62a8"],"x":715,"y":40,"wires":[["192c0a2.4f372f6","d34369a5.cf2a38","68089115.e0929"]]},{"id":"88657efd775386a2","type":"change","z":"4dc1f2f2.a22a4c","name":"Store Config as Global Variable","rules":[{"t":"set","p":"config","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[[]]},{"id":"7deaa764a60bb650","type":"inject","z":"4dc1f2f2.a22a4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":370,"y":460,"wires":[["6cde0df0f0adbd88"]]},{"id":"e50bb42b8f7e2f2c","type":"debug","z":"4dc1f2f2.a22a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"6cde0df0f0adbd88","type":"http request","z":"4dc1f2f2.a22a4c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ha.jongriffith.com/api/config","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":590,"y":460,"wires":[["88657efd775386a2"]]},{"id":"a6873d2d3ba7fa39","type":"link in","z":"4dc1f2f2.a22a4c","name":"","links":["ebe342c71d7db0e4"],"x":125,"y":180,"wires":[["5cbe5dc8.24a324"]]},{"id":"88935fed6a695dd8","type":"inject","z":"4dc1f2f2.a22a4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["240b9584.1646da"]]},{"id":"e02eade7536fef81","type":"change","z":"4dc1f2f2.a22a4c","name":"","rules":[{"t":"set","p":"soundFX.sounds","pt":"global","to":"media-source://media_source/local/sounds","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[[]]},{"id":"895f6293c8263512","type":"moment","z":"4dc1f2f2.a22a4c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Phoenix","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"time.data","outputType":"global","outTz":"America/Phoenix","x":380,"y":520,"wires":[["a606e039f4e5e7f4","93ec88878da6e282","b7ee60678da5805f","cd5cae58a6bd0eff"]]},{"id":"a606e039f4e5e7f4","type":"api-current-state","z":"4dc1f2f2.a22a4c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.month","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time.month","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":520,"wires":[[]]},{"id":"93ec88878da6e282","type":"api-current-state","z":"4dc1f2f2.a22a4c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time.day","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":580,"wires":[[]]},{"id":"b7ee60678da5805f","type":"api-current-state","z":"4dc1f2f2.a22a4c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.major_holiday","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time.holiday","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":640,"wires":[[]]},{"id":"cd5cae58a6bd0eff","type":"api-current-state","z":"4dc1f2f2.a22a4c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.hour","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time.hour","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":700,"wires":[[]]},{"id":"fbbdf357.25f66","type":"ha-get-entities","z":"309344c1.40287c","name":"Headcount","server":"c7cbc76b.fd06a8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^person.*","valueType":"re"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"global","output_location":"presence.peopleHere","output_results_count":1,"x":930,"y":80,"wires":[[]]},{"id":"304f9425.fcf92c","type":"link in","z":"309344c1.40287c","name":"","links":["b1ae9613.fee2a8"],"x":765,"y":40,"wires":[["fbbdf357.25f66","bfe2a5dc.d9c368"]]},{"id":"bfe2a5dc.d9c368","type":"ha-get-entities","z":"309344c1.40287c","name":"Who Is Here?","server":"c7cbc76b.fd06a8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^person.*","valueType":"re"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"global","output_location":"presence.whoIsHere","output_results_count":1,"x":940,"y":120,"wires":[[]]},{"id":"a371691a.1bf6f8","type":"comment","z":"309344c1.40287c","name":"Details","info":"Every 30 seconds a pulse is received from Heartbeats and is then split into these two nodes.\n\nThe headcount node is a 'Get Entities' node that  uses regex to identify all 'person' entities with a status of 'home' and the result is output as a count.  That count is stored in a global variable:\n\nglobal.presence.peopleHere\n\nThe \"Who Is Here\" node is a get entities node that uses the same settings as the \"Headcount\" node \n\nglobal.presenece.whoIsHere","x":910,"y":40,"wires":[]},{"id":"961c25c6.d34328","type":"trigger-state","z":"309344c1.40287c","name":"Master Bath Motion Sensor","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.master_bath_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":160,"y":180,"wires":[[],[]]},{"id":"3375b2c260f5a6e9","type":"trigger-state","z":"309344c1.40287c","name":"Laundry Room Motion Switch","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.laundry_room_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":160,"y":240,"wires":[["aa0aabe69da3e913"],[]]},{"id":"aa0aabe69da3e913","type":"api-call-service","z":"309344c1.40287c","name":"Turn on Laundry Room Lights","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.laundry_room_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":240,"wires":[[]]},{"id":"5ffac2610ae762cd","type":"trigger-state","z":"309344c1.40287c","name":"Someone Arrived","server":"c7cbc76b.fd06a8","version":2,"entityid":"^person.*","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"fmvithpfl2","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":120,"y":320,"wires":[["ebe342c71d7db0e4"],[]]},{"id":"ed0045fe620cfa67","type":"trigger-state","z":"309344c1.40287c","name":"Someone Departed","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person.*","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":130,"y":380,"wires":[["ebe342c71d7db0e4"],[]]},{"id":"ebe342c71d7db0e4","type":"link out","z":"309344c1.40287c","name":"","mode":"link","links":["a6873d2d3ba7fa39"],"x":355,"y":360,"wires":[]},{"id":"7249fa020e6105c9","type":"server-state-changed","z":"309344c1.40287c","name":"Watch NS1","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.ns1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["82e0f634ecf616ed"],["8cbe26f76bcd2022"]]},{"id":"82e0f634ecf616ed","type":"api-call-service","z":"309344c1.40287c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"NS1 Down\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":60,"wires":[[]]},{"id":"8cbe26f76bcd2022","type":"api-call-service","z":"309344c1.40287c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"NS1 Up\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":100,"wires":[[]]},{"id":"a00eecf22c555f32","type":"comment","z":"309344c1.40287c","name":"Server Status","info":"","x":110,"y":40,"wires":[]},{"id":"b5994a38.542078","type":"api-call-service","z":"9e3b74d6.792478","name":"Turn off Coffee Maker","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["ba7dfb2cde43bd58d2849312eb42bc08"],"entityId":["switch.coffee_maker"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":40,"wires":[[]]},{"id":"47dab3cb.d9075c","type":"inject","z":"9e3b74d6.792478","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1000,"wires":[["d6939657.06cbc8"]]},{"id":"d6939657.06cbc8","type":"change","z":"9e3b74d6.792478","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"ontime\":\"11:40\",\"offtime\":\"11:40\",\"offoffset\":\".5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1000,"wires":[["ba27f4c0.9a3b88"]]},{"id":"ba27f4c0.9a3b88","type":"schedex","z":"9e3b74d6.792478","name":"alarm clock","passthroughunhandled":false,"suspended":false,"lat":"38.897517","lon":"-77.036542","ontime":"","ontopic":"","onpayload":"wake up!","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"wake up!!","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":450,"y":1000,"wires":[[]]},{"id":"29f934ba.1766ac","type":"server-state-changed","z":"9e3b74d6.792478","name":"Garbage Disposal Activated","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.garbage_disposal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":160,"wires":[[],["2afee3bd3ded1d7e"]]},{"id":"97d3812ad47269f0","type":"link in","z":"9e3b74d6.792478","name":"From Audio Trigger","links":["d273d2bcd64407fc"],"x":175,"y":40,"wires":[[]]},{"id":"2afee3bd3ded1d7e","type":"stoptimer","z":"9e3b74d6.792478","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":390,"y":160,"wires":[["f9762054070bebcd"],[]]},{"id":"f9762054070bebcd","type":"api-call-service","z":"9e3b74d6.792478","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.garbage_disposal"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":160,"wires":[[]]},{"id":"116cfee24f783b08","type":"server-events","z":"e6a777a2.6a7ab8","name":"Watch all State Changes","server":"c7cbc76b.fd06a8","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":150,"y":720,"wires":[["ba18cf96ac8e5fee"]]},{"id":"ba18cf96ac8e5fee","type":"switch","z":"e6a777a2.6a7ab8","name":"Is this a sound enabled event?","property":"payload.event.old_state.attributes.audio_enabled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":720,"wires":[["31fd4e100e2a99dc"]]},{"id":"31fd4e100e2a99dc","type":"change","z":"e6a777a2.6a7ab8","name":"Modify Payload for Sound Effect","rules":[{"t":"set","p":"payload.internal_url","pt":"msg","to":"config.internal_url","tot":"global"},{"t":"set","p":"payload.sound_public_path","pt":"msg","to":"/local/sounds/","tot":"str"},{"t":"set","p":"payload.sound_internal_path","pt":"msg","to":"/config/www/sounds/","tot":"str"},{"t":"set","p":"payload.sound_theme","pt":"msg","to":"soundFx.soundFxTheme","tot":"global"},{"t":"set","p":"payload.sound_folder","pt":"msg","to":"payload.sound_theme !=\"\" ? $substringAfter(payload.entity_id,\".\") & \"/\" &\t payload.sound_theme & \"/\" & $string(payload.event.new_state.state) : $substringAfter(payload.entity_id,\".\") &\t \"/\" & $string(payload.event.new_state.state) ","tot":"jsonata"},{"t":"set","p":"payload.file_count_path","pt":"msg","to":"$string(\t   payload.sound_internal_path & payload.sound_folder\t)","tot":"jsonata"},{"t":"set","p":"payload.entity_suffix","pt":"msg","to":"$substringAfter(payload.entity_id,\".\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["62ec7b413a5a4269"]]},{"id":"6cc11844af2bd93c","type":"comment","z":"e6a777a2.6a7ab8","name":"Streamlining Audio FX Events","info":"","x":160,"y":680,"wires":[]},{"id":"62ec7b413a5a4269","type":"fs-ops-dir","z":"e6a777a2.6a7ab8","name":"Count MP3 Files","path":"payload.file_count_path","pathType":"msg","filter":"*.mp3","filterType":"str","dir":"payload.file_count_array","dirType":"msg","x":710,"y":780,"wires":[["9d7d77fed2c5618b"]]},{"id":"9d7d77fed2c5618b","type":"change","z":"e6a777a2.6a7ab8","name":"Add the file count to the payload.","rules":[{"t":"set","p":"payload.file_count","pt":"msg","to":"payload.file_count_array.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":840,"wires":[["5d86223cc116bf3b"]]},{"id":"5d86223cc116bf3b","type":"random-item","z":"e6a777a2.6a7ab8","name":"Pick a random audio file","input":"payload.file_count_array","inputType":"msg","output":"payload.sound_file","outputType":"msg","number":1,"x":730,"y":840,"wires":[["dec64cdaca54e557"]]},{"id":"dec64cdaca54e557","type":"change","z":"e6a777a2.6a7ab8","name":"Add Media Player URL to Payload","rules":[{"t":"set","p":"payload.media_url","pt":"msg","to":"$string(\t   payload.internal_url & payload.sound_public_path & payload.sound_folder & \"/\" &\t   payload.sound_file\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[["f8bfecf62d7176fc"]]},{"id":"c766d116c9982897","type":"time-range-switch","z":"e6a777a2.6a7ab8","name":"Allow 5:00AM - 9:30pm","lat":"33.52220296138826","lon":"-111.9015405165431","startTime":"4:30","endTime":"22:00","startOffset":0,"endOffset":"0","x":730,"y":960,"wires":[["ea9bbba1d17e8495"],[]]},{"id":"f8bfecf62d7176fc","type":"switch","z":"e6a777a2.6a7ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.entity_suffix = \"coffee_maker\" and payload.event.new_state.state = \"off\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.entity_suffix = \"coffee_maker\" and payload.event.new_state.state = \"on\"","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":980,"wires":[["c766d116c9982897"],["d273d2bcd64407fc","d44d56b88c826b4b"],["c766d116c9982897"]]},{"id":"d273d2bcd64407fc","type":"link out","z":"e6a777a2.6a7ab8","name":"To Coffee Maker","links":["97d3812ad47269f0"],"x":635,"y":1020,"wires":[]},{"id":"e62b086b6b9ab032","type":"server-state-changed","z":"e6a777a2.6a7ab8","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^input_select.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1180,"wires":[["35dbeae6.2f8b46"]]},{"id":"d44d56b88c826b4b","type":"debug","z":"e6a777a2.6a7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":1180,"wires":[]},{"id":"35dbeae6.2f8b46","type":"subflow:b62e4b55.b6e888","z":"e6a777a2.6a7ab8","name":"","env":[],"x":240,"y":1280,"wires":[["d44d56b88c826b4b"]]},{"id":"ea9bbba1d17e8495","type":"api-current-state","z":"e6a777a2.6a7ab8","name":"Check Google ALL Speakers","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.all_speakers","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":960,"wires":[["624a663ac33f1c4e","d1a43bd1294f73c7","93e1b5231c92e5c3"],[]]},{"id":"2daa4d735e06c092","type":"inject","z":"e6a777a2.6a7ab8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":1080,"wires":[["ea9bbba1d17e8495"]]},{"id":"624a663ac33f1c4e","type":"api-current-state","z":"e6a777a2.6a7ab8","name":"Check Kitchen Speaker","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.kitchen_speaker","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":880,"wires":[[],[]]},{"id":"d1a43bd1294f73c7","type":"api-current-state","z":"e6a777a2.6a7ab8","name":"Check Living Room Speaker","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.living_room_speaker","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1500,"y":960,"wires":[[],[]]},{"id":"93e1b5231c92e5c3","type":"api-current-state","z":"e6a777a2.6a7ab8","name":"Check Guest Bathroom Speaker","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.guest_bathroom_speaker","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1510,"y":1040,"wires":[[],[]]},{"id":"5a355596e92df3bc","type":"server-events","z":"e6a777a2.6a7ab8","name":"","server":"c7cbc76b.fd06a8","version":1,"event_type":"feedreader","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":330,"y":400,"wires":[["0142a6d5d43775bb","a9c784aea659e62f","6f3eaed4a22b452f"]]},{"id":"58273762d8958c75","type":"api-call-service","z":"e6a777a2.6a7ab8","name":"Notify New Blog Post","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{payload.event.title}}\",\"message\":\"{{payload.event.author}} posted a new article on the Legacy blog.\",\"data\":{\"url\":\"{{{payload.event.link}}}\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":200,"wires":[[]]},{"id":"0142a6d5d43775bb","type":"function","z":"e6a777a2.6a7ab8","name":"function 1","func":"for (var i = 0; i < msg.payload.event.tags.length; i++) {\n    if (msg.payload.event.tags[i].term == 'Home Assistant') {\n        var msg1 = { payload: \"Home Assistant\" };\n    }\n    if (msg.payload.event.tags[i].term == 'Information Technology') {\n        var msg1 = { payload: \"Information Technology\" };\n    }\n    node.send(msg1);\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[[],[]]},{"id":"ee7c744402f2c2dc","type":"debug","z":"e6a777a2.6a7ab8","name":"MSG1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"a9c784aea659e62f","type":"switch","z":"e6a777a2.6a7ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"\"Home Assistant\" in payload.event.tags.term","vt":"jsonata"},{"t":"jsonata_exp","v":"\"Information Technology\" in payload.event.tags.term","vt":"jsonata"},{"t":"jsonata_exp","v":"\"Our Modern Renovations\" in payload.event.tags.term","vt":"jsonata"},{"t":"jsonata_exp","v":"\"Renovations\" in payload.event.tags.term","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":400,"wires":[["ee7c744402f2c2dc","58273762d8958c75","bc93de1d3fe2ca2d"],["476e5d042d0b7488"],["915c37d8636d4269"],["58273762d8958c75","bc93de1d3fe2ca2d"]]},{"id":"476e5d042d0b7488","type":"debug","z":"e6a777a2.6a7ab8","name":"MSG2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":500,"wires":[]},{"id":"bc93de1d3fe2ca2d","type":"api-call-service","z":"e6a777a2.6a7ab8","name":"Notify New Blog Post","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanie","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{payload.event.title}}\",\"message\":\"{{payload.event.author}} posted a new article on the Legacy blog.\",\"data\":{\"url\":\"{{{payload.event.link}}}\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":260,"wires":[[]]},{"id":"6f3eaed4a22b452f","type":"debug","z":"e6a777a2.6a7ab8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":580,"wires":[]},{"id":"915c37d8636d4269","type":"api-call-service","z":"e6a777a2.6a7ab8","name":"Renovations Notification","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{payload.event.title}}\",\"message\":\"{{payload.event.author}} posted a new article on the home renovations blog.\",\"data\":{\"url\":\"{{{payload.event.link}}}\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":320,"wires":[[]]},{"id":"d5bc42f97cfd165a","type":"server-state-changed","z":"e6a777a2.6a7ab8","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^switch.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":150,"y":1400,"wires":[["309f0063d86da760"],[]]},{"id":"309f0063d86da760","type":"switch","z":"e6a777a2.6a7ab8","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"switch.garbage_disposal","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1400,"wires":[["7c95b566f118c025"]]},{"id":"7c95b566f118c025","type":"api-call-service","z":"e6a777a2.6a7ab8","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.garbage_disposal"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":1400,"wires":[[]]},{"id":"6e4e9a65.2ec834","type":"server-state-changed","z":"dc4b87e4.2d8d68","name":"Cool Turns On","server":"c7cbc76b.fd06a8","version":4,"entityidfilter":"switch.cool","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":84,"y":32,"wires":[["c9ed0266.9ca87"],["f478a9.c0519758"]]},{"id":"f478a9.c0519758","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.heat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":20,"wires":[["3f7716a4.5c0f4a","ef67a8b.a372658"]]},{"id":"3f7716a4.5c0f4a","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":457,"y":98,"wires":[["3d292080.ce8cb"],["c210268.38c63d8"]]},{"id":"c210268.38c63d8","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"Turn ON Fan","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":100,"wires":[[]]},{"id":"710dc685.468a08","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":177,"wires":[[]]},{"id":"3d292080.ce8cb","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"Turn OFF Heat","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.heat"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":40,"wires":[["c210268.38c63d8"]]},{"id":"faf3f36d.b372f","type":"server-state-changed","z":"dc4b87e4.2d8d68","name":"Heat Turns On","server":"c7cbc76b.fd06a8","version":4,"entityidfilter":"switch.heat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":84,"y":261,"wires":[["3cdb1f7f.b8fc4"],["e8f9a85e.5d3718"]]},{"id":"e8f9a85e.5d3718","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.cool","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":420,"y":255,"wires":[["84694f2d.41d0f"]]},{"id":"84694f2d.41d0f","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":457,"y":327,"wires":[["373e4efe.377e72"],["cde07b43.137438"]]},{"id":"cde07b43.137438","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":698,"y":325,"wires":[[]]},{"id":"373e4efe.377e72","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.cool"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":686,"y":254,"wires":[["cde07b43.137438"]]},{"id":"c9ed0266.9ca87","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.heat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":182,"y":102,"wires":[["4a4cb769.f4bc98"]]},{"id":"4a4cb769.f4bc98","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":355,"y":149,"wires":[[],["710dc685.468a08"]]},{"id":"3cdb1f7f.b8fc4","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.cool","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":192,"y":339,"wires":[["bb8d6888.58f968"]]},{"id":"c35c4b6b.d45428","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":536,"y":421,"wires":[[]]},{"id":"bb8d6888.58f968","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":342,"y":407,"wires":[[],["c35c4b6b.d45428"]]},{"id":"dddba85f.018a48","type":"server-state-changed","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":4,"entityidfilter":"switch.fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":127,"y":492,"wires":[["24256ba2.a09704","e4618a9f.79ae98"],[]]},{"id":"24256ba2.a09704","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.cool","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":501,"wires":[["8febbcec.9a1c"]]},{"id":"8febbcec.9a1c","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":684,"y":503,"wires":[["ce1a3e77.970f5"],[]]},{"id":"e4618a9f.79ae98","type":"api-current-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.heat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":431,"y":540,"wires":[["11c95af5.74e995"]]},{"id":"11c95af5.74e995","type":"switch","z":"dc4b87e4.2d8d68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":681,"y":547,"wires":[["ce1a3e77.970f5"],[]]},{"id":"ce1a3e77.970f5","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.cool","switch.heat"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":868,"y":527,"wires":[[]]},{"id":"4aee5aa3.c9a8d4","type":"server-state-changed","z":"dc4b87e4.2d8d68","name":"Reading Lamp turns On","server":"c7cbc76b.fd06a8","version":4,"entityidfilter":"switch.reading_lamp_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":119,"y":677,"wires":[["11f81c73.9e40e4"],[]]},{"id":"11f81c73.9e40e4","type":"time-range-switch","z":"dc4b87e4.2d8d68","name":"","lat":"33.52220296138826","lon":"-111.9015405165431","startTime":"20:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":338,"y":677,"wires":[["63bb2871.f6cb28"],[]]},{"id":"63bb2871.f6cb28","type":"api-render-template","z":"dc4b87e4.2d8d68","name":"Get outside temp.","server":"c7cbc76b.fd06a8","version":0,"template":"{{ state_attr('weather.dark_sky','temperature') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":158,"y":763,"wires":[["edfef93f.8de908"]]},{"id":"edfef93f.8de908","type":"switch","z":"dc4b87e4.2d8d68","name":"Greater than 80?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"},{"t":"lt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":764,"wires":[["51e1ebbf.f719e4"],[]]},{"id":"51e1ebbf.f719e4","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"Turn on Bedroom Fan","server":"c7cbc76b.fd06a8","version":5,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.guest_bedroom"],"data":"{\"speed\":\"low\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":631,"y":685,"wires":[[]]},{"id":"ef67a8b.a372658","type":"debug","z":"dc4b87e4.2d8d68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":200,"wires":[]},{"id":"a12ce006.12fdf","type":"ha-get-entities","z":"dc4b87e4.2d8d68","name":"Count Fans ON","server":"c7cbc76b.fd06a8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^fan.*","valueType":"re"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"global","output_location":"status.fansOn","output_results_count":1,"x":380,"y":860,"wires":[[]]},{"id":"f0ffff72.3a5af","type":"link in","z":"dc4b87e4.2d8d68","name":"","links":["3857d437.70cafc"],"x":215,"y":900,"wires":[["a12ce006.12fdf","216c9bb4.d8c024"]]},{"id":"3e228884.383468","type":"link in","z":"dc4b87e4.2d8d68","name":"Ceiling Fans","links":["3857d437.70cafc"],"x":175,"y":1000,"wires":[[]]},{"id":"216c9bb4.d8c024","type":"switch","z":"dc4b87e4.2d8d68","name":"Is it fan season?","property":"climate.fan_season","propertyType":"global","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":920,"wires":[["bc2770c0.184fb"],[]]},{"id":"1839a307.cd31ad","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"fan","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.kitchen","fan.living_room","fan.master_bedroom","fan.workshop"],"data":"{\"percentage\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":920,"wires":[[]]},{"id":"bc2770c0.184fb","type":"switch","z":"dc4b87e4.2d8d68","name":"Are any fans off?","property":"status.fansOn","propertyType":"global","rules":[{"t":"neq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":920,"wires":[[]]},{"id":"4ed484bf27d1829e","type":"trigger-state","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"fan.workshop","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":170,"y":1180,"wires":[["d218805243c304bf"],[]]},{"id":"d218805243c304bf","type":"debug","z":"dc4b87e4.2d8d68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":1180,"wires":[]},{"id":"956a1c5dab4e72c4","type":"inject","z":"dc4b87e4.2d8d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":1080,"wires":[["ea61369ab2fbb540","d2ca66935141f48f"]]},{"id":"ea61369ab2fbb540","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":true,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["fan.workshop"],"data":"{\"manual_override\":true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":1080,"wires":[["d218805243c304bf"]]},{"id":"d2ca66935141f48f","type":"api-call-service","z":"dc4b87e4.2d8d68","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":["19686b5be8874a9a96f13368766ab9e2"],"deviceId":["9aeeb3fec8a7e957e88038fda8c67290"],"entityId":["fan.workshop"],"data":"{\"manual_override\":true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":1300,"wires":[["d218805243c304bf"]]},{"id":"ee3f98dc.3491b8","type":"trigger-state","z":"e562fd8b.de18c","d":true,"name":"Motion Detected in Guest Bathroom","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.guest_bathroom_motion_1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":260,"wires":[["8fc6f33e.ec7ff"],[]]},{"id":"fe2e7eb8.bb09a","type":"time-range-switch","z":"e562fd8b.de18c","name":"","lat":"33.52237","lon":"-111.90158","startTime":"03:30","endTime":"05:45","startOffset":0,"endOffset":0,"x":664,"y":218,"wires":[["f22e41c4.8d30e","ff16bbca.6492a8"],["16d8e04b.f6eff"]]},{"id":"f22e41c4.8d30e","type":"api-call-service","z":"e562fd8b.de18c","name":"Melanie's Morning Lighting","server":"c7cbc76b.fd06a8","version":5,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.guest_bath","light.kitchen","light.master_closet"],"data":"{\"brightness_pct\":\"10\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":936,"y":211,"wires":[["98b0fdc1.f89b"]]},{"id":"79e092ec.4776bc","type":"api-call-service","z":"e562fd8b.de18c","name":"Guest Bath Lights On","server":"c7cbc76b.fd06a8","version":5,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.guest_bath"],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":271,"wires":[[]]},{"id":"98b0fdc1.f89b","type":"ha-wait-until","z":"e562fd8b.de18c","name":"Wait until away...","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"person.melanie_griffith","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not_home","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1176,"y":211,"wires":[["709307d4.05f458","bb482ed5.acd25"]]},{"id":"709307d4.05f458","type":"api-call-service","z":"e562fd8b.de18c","name":"Lights Out","server":"c7cbc76b.fd06a8","version":5,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.guest_bath","light.kitchen","light.master_closet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1378,"y":210,"wires":[["749c7a62.10fe54"]]},{"id":"bb482ed5.acd25","type":"api-call-service","z":"e562fd8b.de18c","name":"Patio Light Off","server":"c7cbc76b.fd06a8","version":5,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.patio_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1368,"y":152,"wires":[[]]},{"id":"ff16bbca.6492a8","type":"change","z":"e562fd8b.de18c","name":"Disable Motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":558.5,"y":433,"wires":[["ee3f98dc.3491b8"]]},{"id":"749c7a62.10fe54","type":"change","z":"e562fd8b.de18c","name":"Enable Motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":558,"y":398,"wires":[["ee3f98dc.3491b8"]]},{"id":"16d8e04b.f6eff","type":"time-range-switch","z":"e562fd8b.de18c","name":"","lat":"33.52237","lon":"-111.90158","startTime":"21:30","endTime":"01:15","startOffset":0,"endOffset":0,"x":669,"y":290,"wires":[["fc132414.a0b078"],["79e092ec.4776bc"]]},{"id":"fc132414.a0b078","type":"api-call-service","z":"e562fd8b.de18c","name":"Master Bedroom Lights On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.workshop"],"data":"{\"brightness_pct\":\"50\",\"transition\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":938,"y":333,"wires":[["79e092ec.4776bc"]]},{"id":"a4d2645f.c3b848","type":"trigger-state","z":"e562fd8b.de18c","name":"Watch Sun Elevation","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sun.sun","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"old_state.attributes.elevation","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"4"},{"targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.elevation","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"4"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":110,"y":80,"wires":[["1fda54e6.10849b"],["6d2ecd20b03e2dbd"]]},{"id":"1fda54e6.10849b","type":"api-call-service","z":"e562fd8b.de18c","name":"Patio Lights On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.patio_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":80,"wires":[[]]},{"id":"5f83692f.c03768","type":"weekday","z":"e562fd8b.de18c","name":"Week Day","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":460,"y":280,"wires":[["fe2e7eb8.bb09a"],["4f7bb10b.2a396"]]},{"id":"4f7bb10b.2a396","type":"weekday","z":"e562fd8b.de18c","name":"Saturday","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":461.5,"y":332,"wires":[["16d8e04b.f6eff"],[]]},{"id":"8fc6f33e.ec7ff","type":"weekday","z":"e562fd8b.de18c","name":"Sunday","sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"x":459.5,"y":227,"wires":[["16d8e04b.f6eff"],["5f83692f.c03768"]]},{"id":"9f5b7efb.30e3c","type":"server-state-changed","z":"e562fd8b.de18c","name":"Reading Lamp 1","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.reading_lamp_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":660,"wires":[["16c7a200.84b72e"],[]]},{"id":"16c7a200.84b72e","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.reading_lamp_reset"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":660,"wires":[[]]},{"id":"f025484d.9f5f48","type":"inject","z":"e562fd8b.de18c","name":"","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":720,"wires":[["5b78a548.5e4a4c"]]},{"id":"5b78a548.5e4a4c","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reading_lamp_reset"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":720,"wires":[[]]},{"id":"ceca1c0c.3f6c4","type":"server-state-changed","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.multisensor_1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":900,"wires":[["f7dde516.dd8dc8"],[]]},{"id":"68a1a74d.fc93f8","type":"api-current-state","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.reading_lamp_reset","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":230,"y":960,"wires":[["9d2b32eb.8a7cc"],[]]},{"id":"f17e66e9.71dba8","type":"time-range-switch","z":"e562fd8b.de18c","name":"Time Check","lat":"33.52219","lon":"-111.90154","startTime":"9:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":570,"y":900,"wires":[["68a1a74d.fc93f8"],[]]},{"id":"9d2b32eb.8a7cc","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.master_bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":960,"wires":[[]]},{"id":"93f623c9.09fee","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.master_bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":1020,"wires":[[]]},{"id":"cba027c4.865308","type":"poll-state","z":"e562fd8b.de18c","name":"Where's Melanie","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"person.melanie_griffith","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":1100,"wires":[["73349191.70aff"]]},{"id":"73349191.70aff","type":"switch","z":"e562fd8b.de18c","name":"Melanie Away?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1100,"wires":[["2cf2e8f8.fba368"]]},{"id":"b70d3a97.5ca318","type":"api-call-service","z":"e562fd8b.de18c","name":"Turn it Off","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reading_lamp_reset"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":1160,"wires":[[]]},{"id":"2cf2e8f8.fba368","type":"api-current-state","z":"e562fd8b.de18c","name":"Lamp Reset On?","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.reading_lamp_reset","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":130,"y":1160,"wires":[["b70d3a97.5ca318"],[]]},{"id":"dfc735b5.cad598","type":"server-state-changed","z":"e562fd8b.de18c","name":"Light Monitor","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1320,"wires":[["18bef910.c6d307"]]},{"id":"18bef910.c6d307","type":"switch","z":"e562fd8b.de18c","name":"Manual Action?","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1320,"wires":[["29f0d70d.8591c8"]]},{"id":"7016376f.6f1a98","type":"change","z":"e562fd8b.de18c","name":"Enable Manual Override","rules":[{"t":"set","p":"status.lightMasterBedroomOverride","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1300,"wires":[[]]},{"id":"951b677c.e7b388","type":"change","z":"e562fd8b.de18c","name":"Disable Manual Override","rules":[{"t":"set","p":"status.lightMasterBedroomOverride","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1340,"wires":[[]]},{"id":"35aff909.534d26","type":"switch","z":"e562fd8b.de18c","name":"Check Override","property":"status.lightMasterBedroomOverride","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1020,"wires":[[],["93f623c9.09fee"]]},{"id":"29f0d70d.8591c8","type":"switch","z":"e562fd8b.de18c","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1320,"wires":[["7016376f.6f1a98"],["951b677c.e7b388"]]},{"id":"f7dde516.dd8dc8","type":"switch","z":"e562fd8b.de18c","name":"Check Override","property":"status.lightMasterBedroomOverride","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":840,"wires":[[],["f17e66e9.71dba8"]]},{"id":"576b6df9.1cf8f4","type":"server-state-changed","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.desk_lamp_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1620,"wires":[["f36ed1a5.1d1ab"]]},{"id":"f36ed1a5.1d1ab","type":"counter","z":"e562fd8b.de18c","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":400,"y":1620,"wires":[[]]},{"id":"7902d6d7.cc4da8","type":"server-state-changed","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.guest_bathroom_motion_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1700,"wires":[["69e68dcf.202ac4"],[]]},{"id":"82334e6b.637c4","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_guest"],"data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":1700,"wires":[[]]},{"id":"d808a92.654cd58","type":"link in","z":"e562fd8b.de18c","name":"","links":[],"x":175,"y":1780,"wires":[["e7275e5d.3fd4c"]]},{"id":"47b2dcbf.9745b4","type":"time-range-switch","z":"e562fd8b.de18c","name":"","lat":"33.52494","lon":"-111.89944","startTime":"01:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":420,"y":1860,"wires":[[],[]]},{"id":"e7275e5d.3fd4c","type":"api-current-state","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bathroom_guest","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":1780,"wires":[["47b2dcbf.9745b4"],[]]},{"id":"36147ef1.acd1c2","type":"FSM","z":"e562fd8b.de18c","name":"FSM","topic":"FSM_1","initstate":"ST_RED","inittran":"TR_INIT","entry":false,"exit":false,"tran":true,"rules":[{"n":"TR_GREEN","c":"COND_GREEN","s":"ST_RED","d":"ST_GREEN","t":"true"},{"n":"TR_RED","c":"COND_RED","s":"ST_GREEN","d":"ST_RED","t":"true"}],"x":770,"y":1980,"wires":[[]]},{"id":"e18c28c0.da8858","type":"inject","z":"e562fd8b.de18c","name":"COND_GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"COND_GREEN","payload":"true","payloadType":"bool","x":440,"y":1960,"wires":[["36147ef1.acd1c2"]]},{"id":"c1ef84d.0c9c778","type":"inject","z":"e562fd8b.de18c","name":"COND_RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"COND_RED","payload":"true","payloadType":"bool","x":430,"y":2000,"wires":[["36147ef1.acd1c2"]]},{"id":"f474083a.0df248","type":"api-current-state","z":"e562fd8b.de18c","name":"Night Light","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.guest_bathroom_motion_brightness","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1560,"wires":[["fb7673fe.45aec"]]},{"id":"69e68dcf.202ac4","type":"time-range-switch","z":"e562fd8b.de18c","name":"","lat":"33.52822","lon":"-111.89944","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":590,"y":1660,"wires":[["4affedb1.d7a564"],["82334e6b.637c4"]]},{"id":"fb7673fe.45aec","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_guest"],"data":"{\"brightness_pct\":\"40\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":1640,"wires":[[]]},{"id":"6f6826e6.526f88","type":"server-state-changed","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1460,"wires":[["b8b68106.7444c"]]},{"id":"b8b68106.7444c","type":"switch","z":"e562fd8b.de18c","name":"Is Null","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1460,"wires":[["4c1f7128.7852e"]]},{"id":"4c1f7128.7852e","type":"change","z":"e562fd8b.de18c","name":"","rules":[{"t":"set","p":"night_light.active","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1460,"wires":[[]]},{"id":"4affedb1.d7a564","type":"switch","z":"e562fd8b.de18c","name":"","property":"night_light.active","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1520,"wires":[["f474083a.0df248"]]},{"id":"ca633c4d.1a6da","type":"inject","z":"e562fd8b.de18c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["2c9fc0a1.13a25"]]},{"id":"2c9fc0a1.13a25","type":"api-current-state","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.guest_bath_light_timeout","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":500,"wires":[["e121c9d8.c86b78"]]},{"id":"10498f15.057881","type":"debug","z":"e562fd8b.de18c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"29869288.766dee","type":"mytimeout","z":"e562fd8b.de18c","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":590,"y":580,"wires":[["10498f15.057881"],[]]},{"id":"d462547d.283798","type":"change","z":"e562fd8b.de18c","name":"","rules":[{"t":"set","p":"timeout","pt":"msg","to":"$sum(payload * 60)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["29869288.766dee"]]},{"id":"e121c9d8.c86b78","type":"json","z":"e562fd8b.de18c","name":"","property":"payload","action":"","pretty":false,"x":590,"y":500,"wires":[["d462547d.283798"]]},{"id":"64cda3bbafd324a0","type":"comment","z":"e562fd8b.de18c","name":"Outdoor Lighting","info":"","x":100,"y":40,"wires":[]},{"id":"6d2ecd20b03e2dbd","type":"switch","z":"e562fd8b.de18c","name":"Above Horizon","property":"homeassistant.homeAssistant.states['sun.sun'].state","propertyType":"global","rules":[{"t":"eq","v":"above_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":100,"wires":[["73bb2585a58ca39f"]]},{"id":"73bb2585a58ca39f","type":"api-call-service","z":"e562fd8b.de18c","name":"Patio Lights Off","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.patio_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":120,"wires":[[]]},{"id":"095112438a037e2d","type":"bigtimer","z":"e562fd8b.de18c","outtopic":"","outpayload1":"","outpayload2":"","name":"10PM OFF","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":"1320","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":90,"y":160,"wires":[[],[],["73bb2585a58ca39f"]]},{"id":"fa1ef352a2da20e6","type":"server-state-changed","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.moen_master_shower_control","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":2100,"wires":[["90a4918fb62a4d3e"],[]]},{"id":"90a4918fb62a4d3e","type":"api-call-service","z":"e562fd8b.de18c","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":["66143fc2bddd4346bf97d94a8a012bc4"],"deviceId":["ccc3558c4eabb621c2f8dae50cdfa7f4"],"entityId":["select.wled_master_shower_niche_preset"],"data":"{\"option\":\"Candles\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":2100,"wires":[[]]},{"id":"ab9a19391aa63fa4","type":"inject","z":"e562fd8b.de18c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":2060,"wires":[["90a4918fb62a4d3e"]]},{"id":"2c83ebeb.cb16a4","type":"trigger-state","z":"c97774de.c62ec8","name":"10% on Melanie's Phone","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.melanie","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.Battery Level","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"10"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":230,"y":400,"wires":[["807f926.944d87"],[]]},{"id":"807f926.944d87","type":"api-call-service","z":"c97774de.c62ec8","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanie","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Battery at 10% or less.  Away mode makes lights do funny things.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":400,"wires":[["edab7743.f5b3f8"]]},{"id":"edab7743.f5b3f8","type":"change","z":"c97774de.c62ec8","name":"Set to Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":400,"wires":[["91412063.c547b","850f2e4f.d37f6"]]},{"id":"91412063.c547b","type":"link out","z":"c97774de.c62ec8","name":"","links":["17d8d5ea.010b3a"],"x":1295,"y":400,"wires":[]},{"id":"17d8d5ea.010b3a","type":"link in","z":"c97774de.c62ec8","name":"","links":["91412063.c547b"],"x":75,"y":400,"wires":[["2c83ebeb.cb16a4"]]},{"id":"850f2e4f.d37f6","type":"ha-wait-until","z":"c97774de.c62ec8","name":"","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"device_tracker.melanies_iphone_red","entityIdFilterType":"exact","property":"attributes.Battery Level","comparator":"gte","value":"11","valueType":"num","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1000,"y":440,"wires":[["fc3a9693.c75888"]]},{"id":"fc3a9693.c75888","type":"change","z":"c97774de.c62ec8","name":"Set to Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["91412063.c547b"]]},{"id":"3d401502.04056a","type":"trigger-state","z":"3242b75e.5ac908","name":"When Pepito Starts Cleaning","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"vacuum.pepito","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"cleaning","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"cleaning","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":140,"y":40,"wires":[["66ca9f28.77139"],[]]},{"id":"9c899ba4.ca73b8","type":"api-call-service","z":"3242b75e.5ac908","name":"Play Sound","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.living_room_speaker"],"data":"{\"media_content_id\":\"{{{payload}}}\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":220,"wires":[[]]},{"id":"3b756672.4eab5a","type":"api-call-service","z":"3242b75e.5ac908","name":"Set Volume Full","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.living_room_speaker"],"data":"{\"volume_level\":\"0.5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":140,"wires":[["9c899ba4.ca73b8"]]},{"id":"b12288f8.a952a8","type":"function","z":"3242b75e.5ac908","name":"Get Path to Pepito Sounds","func":"var coffeePath = global.get('soundFx').soundFxPepitoPath;\n\nmsg.payload = coffeePath\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["100eac18.236a84"]]},{"id":"100eac18.236a84","type":"fs-ops-dir","z":"3242b75e.5ac908","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.mp3","filterType":"str","dir":"files","dirType":"msg","x":620,"y":400,"wires":[["4111414a.6abd1"]]},{"id":"4111414a.6abd1","type":"change","z":"3242b75e.5ac908","name":"Count and Store File Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":460,"wires":[["9214a7e7.a48e88"]]},{"id":"9214a7e7.a48e88","type":"function","z":"3242b75e.5ac908","name":"Generate Random MP3 URL","func":"const randomIndex = Math.floor(Math.random() * msg.payload);\nfileNumber = randomIndex + 10;\nvar MP3_URL = \"https://hassio.jongriffith.com:8123/local/sounds/pepito/\" + fileNumber + \".mp3\";\nmsg.payload = MP3_URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":300,"wires":[["3b756672.4eab5a"]]},{"id":"15c544b7.84f28b","type":"inject","z":"3242b75e.5ac908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["66ca9f28.77139"]]},{"id":"66ca9f28.77139","type":"actionflows","z":"3242b75e.5ac908","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"doNotDisturb","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":280,"y":180,"wires":[["b12288f8.a952a8"]]},{"id":"23ad52b2.506c6e","type":"actionflows_in","z":"3242b75e.5ac908","name":"WaitIntercom","priority":"50","links":[],"scope":"global","x":130,"y":680,"wires":[[]]},{"id":"529b7209.9ed4bc","type":"actionflows_out","z":"3242b75e.5ac908","name":"WaitIntercom","links":[],"x":530,"y":680,"wires":[]},{"id":"c06e0794.38ae68","type":"inject","z":"9e4342de.e38df","name":"Every Minute","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["89c62cdbe610945f"]]},{"id":"bf3a4346.d459a","type":"switch","z":"9e4342de.e38df","name":"Every 15 Minutes","property":"time.data.minutes","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":330,"y":200,"wires":[[],[],[],[]]},{"id":"161be0d3.891b1f","type":"function","z":"9e4342de.e38df","name":"Top of Hour","func":"var hour = msg.payload.hours;\nvar soundFxTheme = global.get('soundFx').soundFxTheme;\n\nif (hour > 12) {\n hour = hour - 12;\n}\nif (soundFxTheme == 'thanksgiving') {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/thanksgiving\" + \"/turkey\" + String(hour).padStart(2, '0') + \".mp3\";\n} else if (soundFxTheme == 'christmas') {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/christmas/\" + String(hour).padStart(2, '0') + \".mp3\";\n} else {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/chime_\" + String(hour).padStart(2, '0') + \".mp3\";\n}\nmsg.payload = URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":440,"wires":[[]]},{"id":"3203d937.125886","type":"comment","z":"9e4342de.e38df","name":"Virtual grandfather clock","info":"","x":130,"y":40,"wires":[]},{"id":"2dbd8585.6c550a","type":"time-range-switch","z":"9e4342de.e38df","name":"7AM - 8PM","lat":"33.3468596566442","lon":"-111.84015117839459","startTime":"07:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":110,"y":140,"wires":[["bf3a4346.d459a","2c0ed06e176cd484"],[]]},{"id":"247f275c.d28fe8","type":"function","z":"9e4342de.e38df","name":"15 Minutes","func":"var hour = msg.payload.hours;\nvar soundFxTheme = global.get('soundFx').soundFxTheme;\n\nif (hour > 12) {\n hour = hour - 12;\n}\nif (soundFxTheme == 'thanksgiving') {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/thanksgiving/hencall.mp3\";\n} else {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/gfclockquarter10.mp3\";\n}\nmsg.payload = URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":480,"wires":[[]]},{"id":"786dbd85.857e94","type":"function","z":"9e4342de.e38df","name":"30 Minutes","func":"var hour = msg.payload.hours;\nvar soundFxTheme = global.get('soundFx').soundFxTheme;\n\nif (hour > 12) {\n hour = hour - 12;\n}\nif (soundFxTheme == 'thanksgiving') {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/thanksgiving/kee-kee.mp3\";\n} else {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/one-half.mp3\";\n}\nmsg.payload = URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":520,"wires":[[]]},{"id":"37472111e7d22c20","type":"function","z":"9e4342de.e38df","name":"45 Minutes","func":"var hour = msg.payload.hours;\nvar soundFxTheme = global.get('soundFx').soundFxTheme;\n\nif (hour > 12) {\n hour = hour - 12;\n}\nif (soundFxTheme == 'thanksgiving') {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/thanksgiving/kee-kee.mp3\";\n} else {\n    var URL = msg.payload.fxURL + \"/grandfather_clock/gfclockquarter11.mp3\";\n}\nmsg.payload = URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":560,"wires":[[]]},{"id":"89c62cdbe610945f","type":"ha-entity","z":"9e4342de.e38df","name":"Grandfather Clock","server":"c7cbc76b.fd06a8","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"grandfather_clock"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"true","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":350,"y":80,"wires":[["2dbd8585.6c550a"],[]]},{"id":"d6637b2eb16f05cd","type":"file in","z":"9e4342de.e38df","name":"","filename":"","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":600,"wires":[[]]},{"id":"2c0ed06e176cd484","type":"change","z":"9e4342de.e38df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"soundFX.sounds\") & \"/grandfather_clock\" & \"/\" & $globalContext(\"time.month\") & \"/\" & $globalContext('time.hour') & \".mp3\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["69a70c7715eb2b11"]]},{"id":"69a70c7715eb2b11","type":"api-call-service","z":"9e4342de.e38df","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":140,"wires":[[]]},{"id":"f5d1587e.d388d8","type":"server-events","z":"a8da756e.1ff948","name":"Hey!  Pay attention!","server":"c7cbc76b.fd06a8","version":1,"event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":190,"y":60,"wires":[["c9a1c656.083eb8"]]},{"id":"c9a1c656.083eb8","type":"switch","z":"a8da756e.1ff948","name":"What the hell just happened?","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"regex","v":"^script.camera*","vt":"str","case":false},{"t":"regex","v":"^script.desk*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":60,"wires":[["bbbf2c57.cb4c3"],["ac2e6cfa.100db"]]},{"id":"bbbf2c57.cb4c3","type":"link out","z":"a8da756e.1ff948","name":"","links":["a7ad42ef.1f37c"],"x":835,"y":40,"wires":[]},{"id":"ac2e6cfa.100db","type":"link out","z":"a8da756e.1ff948","name":"","links":["ef3c591.36d55a8"],"x":815,"y":140,"wires":[]},{"id":"335563c1.5a523c","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":440,"y":160,"wires":[["b7f57e4b.45e1d"]]},{"id":"b7f57e4b.45e1d","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[[]]},{"id":"8962739b.283cd","type":"switch","z":"6ed307f7.f17e28","name":"Cameras","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.camera_baby_bump_timelapse","vt":"str"},{"t":"eq","v":"script.camera_baby_timelapse","vt":"str"},{"t":"eq","v":"script.camera_body_transform_melanie","vt":"str"},{"t":"eq","v":"script.camera_body_transform_jonathan","vt":"str"},{"t":"eq","v":"script.camera_testing_camera_3","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":360,"y":280,"wires":[["1d923c77.9d91b4"],["8fd61d4b.941de"],["9185eed7.dacb6"],["835a483.7526eb8"],["43ffbcd6.ba6324"]]},{"id":"a7ad42ef.1f37c","type":"link in","z":"6ed307f7.f17e28","name":"","links":["bbbf2c57.cb4c3"],"x":195,"y":280,"wires":[["8962739b.283cd"]]},{"id":"a1debf6b.ccfab","type":"function","z":"6ed307f7.f17e28","name":"Get Path to Camera Images","func":"var camera2Path = global.get('cameras').camera2Path;\n\nmsg.payload = camera2Path;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["335563c1.5a523c"]]},{"id":"1d923c77.9d91b4","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/config/www/images/cameras/camera2/baby_bump_time_lapse/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["a26aaa3d.b32a88"]]},{"id":"a26aaa3d.b32a88","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":760,"y":240,"wires":[["3cb3b8b8.23c068","fdbb432f.ab552"]]},{"id":"3cb3b8b8.23c068","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["d8930f1c.1667"]]},{"id":"8fd61d4b.941de","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/config/www/images/cameras/camera2/baby_time_lapse/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["61a4d599.cdcecc"]]},{"id":"61a4d599.cdcecc","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":760,"y":280,"wires":[["c186da60.274478"]]},{"id":"c186da60.274478","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[["3bb56137.f2c83e"]]},{"id":"3bb56137.f2c83e","type":"api-call-service","z":"6ed307f7.f17e28","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"camera","service":"snapshot","areaId":[],"deviceId":[],"entityId":["camera.camera_2"],"data":"{\"filename\":\"/config/www/images/cameras/camera2/baby_time_lapse/image_{{payload}}.jpg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":280,"wires":[[]]},{"id":"9185eed7.dacb6","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/config/www/images/cameras/camera2/body_transform_melanie/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["9ca7866d.9211d8"]]},{"id":"9ca7866d.9211d8","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":760,"y":320,"wires":[["eabd69cf.535218"]]},{"id":"eabd69cf.535218","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":320,"wires":[["a3b647ab.b57028"]]},{"id":"a3b647ab.b57028","type":"api-call-service","z":"6ed307f7.f17e28","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"camera","service":"snapshot","areaId":[],"deviceId":[],"entityId":["camera.camera_2"],"data":"{\"filename\":\"/config/www/images/cameras/camera2/body_transform_melanie/image_{{payload}}.jpg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":340,"wires":[[]]},{"id":"835a483.7526eb8","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/config/www/images/cameras/camera2/body_transform_jonathan/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["726e85b4.67f82c"]]},{"id":"726e85b4.67f82c","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":760,"y":360,"wires":[["be41d188.77594"]]},{"id":"be41d188.77594","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":360,"wires":[["c159b61b.2bae78"]]},{"id":"c159b61b.2bae78","type":"api-call-service","z":"6ed307f7.f17e28","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"camera","service":"snapshot","areaId":[],"deviceId":[],"entityId":["camera.camera_2"],"data":"{\"filename\":\"/config/www/images/cameras/camera2/body_transform_jonathan/image_{{payload}}.jpg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":400,"wires":[[]]},{"id":"6a384b3d.df2d74","type":"api-call-service","z":"6ed307f7.f17e28","name":"Turn on Lights","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.workshop"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":180,"wires":[[]]},{"id":"d8930f1c.1667","type":"change","z":"6ed307f7.f17e28","name":"Increment by 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload + 1)","tot":"jsonata"},{"t":"set","p":"babybump.imagenumber","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":180,"wires":[["6a384b3d.df2d74"]]},{"id":"fdbb432f.ab552","type":"debug","z":"6ed307f7.f17e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":380,"wires":[]},{"id":"43ffbcd6.ba6324","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/config/www/images/cameras/camera3/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["ca100ac0.a2e4b8"]]},{"id":"ca100ac0.a2e4b8","type":"fs-ops-dir","z":"6ed307f7.f17e28","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.jpg","filterType":"str","dir":"files","dirType":"msg","x":760,"y":400,"wires":[["c67f7035.3cb7b"]]},{"id":"c67f7035.3cb7b","type":"change","z":"6ed307f7.f17e28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":400,"wires":[["77b8c978.2887f8"]]},{"id":"77b8c978.2887f8","type":"api-call-service","z":"6ed307f7.f17e28","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"camera","service":"snapshot","areaId":[],"deviceId":[],"entityId":["camera.toilet_iphone_cam"],"data":"{\"filename\":\"/config/www/images/cameras/camera3/image_{{payload}}.jpg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":440,"wires":[[]]},{"id":"890c1261.5a3b2","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.living_room_speaker"],"data":"{\"message\":\"this is a test\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":100,"wires":[[]]},{"id":"8a6e5fd3.1d6b2","type":"inject","z":"5d820ca2.1e4494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["f7925054.ba747","a7ebfe66.34253"]]},{"id":"f7925054.ba747","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.living_room_speaker"],"data":"{\"volume_level\":0.6}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":80,"wires":[["890c1261.5a3b2"]]},{"id":"e5385d9a.17783","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon_s_iphone_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Jon just entered the zone: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":220,"wires":[[]]},{"id":"f4a7ff25.897cf","type":"server-state-changed","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jon_griffith","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":380,"wires":[["a7ebfe66.34253"]]},{"id":"a7ebfe66.34253","type":"api-current-state","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jon_griffith","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":550,"y":380,"wires":[["e5385d9a.17783","3c81e9df.3c03e6"]]},{"id":"4d068ad4.07add4","type":"server-state-changed","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.melanie_griffith","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":440,"wires":[["da0ab98b.b319b8"]]},{"id":"da0ab98b.b319b8","type":"api-current-state","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.melanie_griffith","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":590,"y":440,"wires":[["4039ded3.76022","29a51818.8a3aa8"]]},{"id":"3c81e9df.3c03e6","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanies_iphone_red","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Jon just entered the zone: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":280,"wires":[[]]},{"id":"4039ded3.76022","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon_s_iphone_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Melanie just entered the zone: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":520,"wires":[[]]},{"id":"29a51818.8a3aa8","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanies_iphone_red","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Melanie just entered the zone: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":580,"wires":[[]]},{"id":"9e528f65.dfbe","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanies_iphone_red","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"New Fridge is at {{payload}} degrees\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":740,"wires":[[]]},{"id":"996abb75.c9c278","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon_s_iphone_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"New Fridge is at {{payload}} degrees\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":680,"wires":[[]]},{"id":"5d2c591c.007a88","type":"trigger-state","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.thermocoupler_1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"44","propertyValue":"new_state.state"}],"inputs":1,"outputs":3,"customoutputs":[{"messageType":"custom","messageValue":"disable","messageValueType":"json","comparatorPropertyType":"current_state","comparatorType":"<=","comparatorValue":"44","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":false,"state_type":"num","enableInput":true,"x":200,"y":700,"wires":[["996abb75.c9c278","9e528f65.dfbe","fcde63dc.0c703"],[],[]]},{"id":"fcde63dc.0c703","type":"change","z":"5d820ca2.1e4494","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":840,"wires":[["5d2c591c.007a88"]]},{"id":"a88200083da746e4","type":"server-state-changed","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tasks_completed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":980,"wires":[["2522e90d6c14d4b6"]]},{"id":"2522e90d6c14d4b6","type":"api-render-template","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":0,"template":"{{ states.sensor.tasks_completed.attributes['items'][0].content }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":380,"y":1040,"wires":[["aea74f03dee5c902"]]},{"id":"788c3ac6cfda9ebe","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Task Completed: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1080,"wires":[[]]},{"id":"bf8e285b2a6c6f7d","type":"inject","z":"5d820ca2.1e4494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1100,"wires":[["2522e90d6c14d4b6"]]},{"id":"907ecc45e9957154","type":"api-call-service","z":"5d820ca2.1e4494","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_melanie","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Task Completed: {{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":1020,"wires":[[]]},{"id":"aea74f03dee5c902","type":"change","z":"5d820ca2.1e4494","name":"","rules":[{"t":"set","p":"tasks.completed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1180,"wires":[["f6c3ae5dc87f8696"]]},{"id":"ac9faead31c132e8","type":"debug","z":"5d820ca2.1e4494","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":1280,"wires":[]},{"id":"f6c3ae5dc87f8696","type":"switch","z":"5d820ca2.1e4494","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"tasks.completed","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":1180,"wires":[["788c3ac6cfda9ebe","ac9faead31c132e8","907ecc45e9957154"]]},{"id":"61c3ad54.487dd4","type":"api-call-service","z":"b3f3a3d3.eecf","name":"Take Picture","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.t3i_shutter"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":160,"wires":[[]]},{"id":"0445a1c28a24d5f1","type":"trigger-state","z":"b3f3a3d3.eecf","name":"","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.3d_timelapse_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off","comparatorValueDataType":"str"}],"outputinitially":false,"state_type":"str","enableInput":false,"x":220,"y":180,"wires":[["61c3ad54.487dd4"],["fa9a2faaf9364f75"],[]]},{"id":"fa9a2faaf9364f75","type":"api-call-service","z":"b3f3a3d3.eecf","name":"Take Picture","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.t3i_shutter"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":200,"wires":[[]]},{"id":"5daf3f57fef7b635","type":"trigger-state","z":"b3f3a3d3.eecf","name":"","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.octoprint_current_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Operational"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":210,"y":260,"wires":[["023f794fbbd3c8c5"],[]]},{"id":"023f794fbbd3c8c5","type":"api-call-service","z":"b3f3a3d3.eecf","name":"Focus","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.t3i_focus"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":260,"wires":[[]]},{"id":"ed3cd8dac2bc1083","type":"stoptimer","z":"b3f3a3d3.eecf","duration":"600","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":700,"y":260,"wires":[[],[]]},{"id":"74bd7bec.226674","type":"ui_gauge","z":"6805dac0.9d5104","name":"","group":"554410ab.9c352","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"4c931152.eeedb","type":"ui_chart","z":"6805dac0.9d5104","name":"No name","group":"554410ab.9c352","order":1,"width":"6","height":"7","label":"No Label","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"130","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":240,"wires":[[]]},{"id":"8ced72f9.a1cfb","type":"debug","z":"6805dac0.9d5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":280,"wires":[]},{"id":"faebe9cf.1fc378","type":"trigger-state","z":"6805dac0.9d5104","name":"","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.multisensor_1_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","enableInput":true,"x":200,"y":80,"wires":[["2b456236.7765ae"],[]]},{"id":"2b456236.7765ae","type":"change","z":"6805dac0.9d5104","name":"","rules":[{"t":"set","p":"data.event.entity_id","pt":"msg","to":"Desk Temperature","tot":"str"},{"t":"set","p":"data.event.old_state.entity_id","pt":"msg","to":"Desk Temperature","tot":"str"},{"t":"set","p":"data.event.new_state.entity_id","pt":"msg","to":"Desk Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["4c931152.eeedb","8ced72f9.a1cfb"]]},{"id":"33120ba4266214ab","type":"fs-file-lister","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Count Audio Files","start":"/media/sounds/holidays/Christmas/frontpatio","pattern":"*.mp3","folders":"*","hidden":false,"lstype":"files","path":false,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":650,"y":60,"wires":[["ae32bf9f73bb89f4"]]},{"id":"1fe82142ceb5a21b","type":"api-call-service","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Play Sound","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer2"],"data":"{\"media_content_id\":\"{{{payload}}}\",\"media_content_type\":\"audio/mpeg\",\"announce\":\"true\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1311,"y":166,"wires":[[]]},{"id":"ae32bf9f73bb89f4","type":"random-item","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Randomize","input":"payload","inputType":"msg","output":"payload","outputType":"msg","number":1,"x":848,"y":60,"wires":[["5614e3b4b2ef6205","4085b058ef38b4b5"]]},{"id":"3f8173bc7c308c99","type":"join","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Define final URL","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1303,"y":114,"wires":[["517e9dc0e63e9e81","1fe82142ceb5a21b"]]},{"id":"5614e3b4b2ef6205","type":"change","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Define Media Source","rules":[{"t":"set","p":"payload","pt":"msg","to":"media-source://media_source/local/sounds/holidays/Christmas/frontpatio/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1062,"y":114,"wires":[["3f8173bc7c308c99"]]},{"id":"4085b058ef38b4b5","type":"stoptimer","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","duration":"100","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Wait 100ms","x":1051,"y":60,"wires":[["3f8173bc7c308c99"],[]]},{"id":"9ebc7cc69635e920","type":"trigger-state","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Front Patio Motion 1","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.cr_10s_pro_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":391,"y":66,"wires":[["33120ba4266214ab","0c915d9e2822efca","74f7a6057f011213","bd2f94fa017439cd"],[]]},{"id":"0c915d9e2822efca","type":"api-call-service","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Media Player 100%","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer2"],"data":"{\"volume_level\":\"0.8\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":611,"y":166,"wires":[["4c43b2e8711dd6f1"]]},{"id":"4c43b2e8711dd6f1","type":"api-call-service","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Zone Volume 100%","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.zone_13"],"data":"{\"volume_level\":\"0.60\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":811,"y":166,"wires":[[]]},{"id":"bd2f94fa017439cd","type":"api-call-service","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Number of Times","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.halloween_sounds"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1049,"y":166,"wires":[[]]},{"id":"74f7a6057f011213","type":"change","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Temporarily Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["9ebc7cc69635e920","cbc99998cc5abaca"]]},{"id":"cbc99998cc5abaca","type":"stoptimer","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 1 Minute","x":609,"y":120,"wires":[["6d8a7b83e09a72b7"],[]]},{"id":"6d8a7b83e09a72b7","type":"change","z":"a0fab98.4d63d48","g":"7d13eb8cc761f0d8","name":"Re-enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":823,"y":114,"wires":[["9ebc7cc69635e920"]]},{"id":"05423e95501aed1c","type":"link in","z":"a0fab98.4d63d48","name":"Halloween Time Control","links":["7ddcca9ad0d58175"],"x":175,"y":40,"wires":[["9ebc7cc69635e920"]]},{"id":"1c7fb04ed27c4641","type":"trigger-state","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Doorbell Button Front Patio","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.doorbell_front_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":460,"y":380,"wires":[["d4b9b8acaa0e907b","6afe1149c11f786b","671f888f50e7a2e6","202d3957016b38c1","2e436e2507a20133","66ccad58f3eca58b"],[]]},{"id":"2e436e2507a20133","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Inside Doorbell","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer1"],"data":"{\"media_content_id\":\"media-source://media_source/local/sounds/doorbells/halloween/standard.mp3\",\"media_content_type\":\"audio/mpeg\",\"announce\":\"true\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":380,"wires":[[]]},{"id":"d4b9b8acaa0e907b","type":"fs-file-lister","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Count Audio Files","start":"/media/sounds/doorbells/halloween/","pattern":"*.mp3","folders":"*","hidden":false,"lstype":"files","path":false,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":650,"y":520,"wires":[["eb8eddf7ca31ab5f"]]},{"id":"eb8eddf7ca31ab5f","type":"random-item","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Randomize","input":"payload","inputType":"msg","output":"payload","outputType":"msg","number":1,"x":850,"y":520,"wires":[["4eeb6fd7c01fd4f8","385b9bde6855428d"]]},{"id":"4eeb6fd7c01fd4f8","type":"change","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Define Media Source","rules":[{"t":"set","p":"payload","pt":"msg","to":"media-source://media_source/local/sounds/doorbells/halloween/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":540,"wires":[["e6c8d109c2aaf7ae"]]},{"id":"385b9bde6855428d","type":"stoptimer","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","duration":"100","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Wait 100ms","x":1070,"y":500,"wires":[["e6c8d109c2aaf7ae"],[]]},{"id":"e6c8d109c2aaf7ae","type":"join","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Define final URL","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1240,"y":320,"wires":[[]]},{"id":"56f22c684ad2d386","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Zone Volume 100%","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.zone_11"],"data":"{\"volume_level\":\"0.85\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":360,"wires":[[]]},{"id":"6afe1149c11f786b","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Number of Times","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.doorbell_front_patio"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":300,"wires":[[]]},{"id":"66ccad58f3eca58b","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Outside Doorbell","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer2"],"data":"{\"media_content_id\":\"media-source://media_source/local/sounds/doorbells/halloween/yourang.mp3\",\"media_content_type\":\"audio/mpeg\",\"announce\":\"true\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":300,"wires":[[]]},{"id":"671f888f50e7a2e6","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"Media Player 100%","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer1"],"data":"{\"volume_level\":\"1.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":360,"wires":[["56f22c684ad2d386"]]},{"id":"202d3957016b38c1","type":"api-call-service","z":"a0fab98.4d63d48","g":"7c7fd11de12b66b0","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_jon","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"ding dong\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":300,"wires":[[]]},{"id":"517e9dc0e63e9e81","type":"debug","z":"a0fab98.4d63d48","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":240,"wires":[]},{"id":"b9c09044.624a3","type":"inject","z":"418f1c03.22c8e4","name":"12PM Backup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":60,"wires":[[]]},{"id":"90423fb2.234f5","type":"api-call-service","z":"418f1c03.22c8e4","name":"Call Snapshot Add-On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"hassio","service":"addon_stdin","areaId":[],"deviceId":[],"entityId":[],"data":"{\"addon\":\"15d21743_samba_backup\",\"input\":\"trigger\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":60,"wires":[[]]},{"id":"9676c49994c407c4","type":"inject","z":"418f1c03.22c8e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[[]]},{"id":"26e15069831dcc98","type":"api-call-service","z":"418f1c03.22c8e4","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"hassio","service":"backup_partial","areaId":[],"deviceId":[],"entityId":[],"data":"{\"addons\":[\"a0d7b954_bitwarden\"],\"name\":\"Vaultwarden Backup\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":220,"wires":[["e02d3cf56afd67dc"]]},{"id":"e02d3cf56afd67dc","type":"debug","z":"418f1c03.22c8e4","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":220,"wires":[]},{"id":"ef3c591.36d55a8","type":"link in","z":"5f8efb7a.7a3bc4","name":"Standing Desk","links":["ac2e6cfa.100db"],"x":175,"y":260,"wires":[["811549c8.c9e0b8"]]},{"id":"811549c8.c9e0b8","type":"switch","z":"5f8efb7a.7a3bc4","name":"Which Direction?","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.desk_up","vt":"str"},{"t":"eq","v":"script.desk_down","vt":"str"},{"t":"eq","v":"script.desk_stop","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":260,"wires":[["4c05de7a.bc38d"],["79423d18.63d9f4"],["b9e93f6.48e34c"]]},{"id":"e1fd2d9b.ddb9a","type":"comment","z":"5f8efb7a.7a3bc4","name":"Up","info":"","x":570,"y":80,"wires":[]},{"id":"874c755a.e2c848","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"All Relays Off","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_relay_1","switch.desk_1_relay_2","switch.desk_1_relay_3","switch.desk_1_relay_4"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":280,"wires":[[]]},{"id":"9fd7cceb.9dc56","type":"comment","z":"5f8efb7a.7a3bc4","name":"Stop","info":"Toggling relay 1 during either the up or down cycle will kill the circuit and stop the motors.","x":570,"y":400,"wires":[]},{"id":"210c9392.2e54ac","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Relays On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.desk_1_relay_1","switch.desk_1_relay_2","switch.desk_1_relay_3","switch.desk_1_relay_4"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":120,"wires":[[]]},{"id":"4c05de7a.bc38d","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Kill Power","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":120,"wires":[[]]},{"id":"76585449.fde38c","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Power On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":120,"wires":[["7a7fbf56.ef58"]]},{"id":"79423d18.63d9f4","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Kill Power","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":280,"wires":[[]]},{"id":"a3d741f0.e81c2","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Power On","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":280,"wires":[["5da56c50.56b514"]]},{"id":"b9e93f6.48e34c","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Kill Power","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":440,"wires":[[]]},{"id":"2fdbd855.031d48","type":"comment","z":"5f8efb7a.7a3bc4","name":"Down","info":"","x":570,"y":240,"wires":[]},{"id":"f282ad6c.28b7b","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Kill Power","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":280,"wires":[[]]},{"id":"2e5614d8.d1071c","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Kill Power","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.desk_1_power_kill"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":120,"wires":[[]]},{"id":"287b77b.e812e88","type":"change","z":"5f8efb7a.7a3bc4","name":"Count and Store File Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":600,"wires":[["98b121ef.04531"]]},{"id":"98b121ef.04531","type":"function","z":"5f8efb7a.7a3bc4","name":"Generate Random MP3 URL","func":"// Using the file count from the defined soundFxCoffeePath under global.soundFx\n// we add 10 to ensure double digits, then we generate a URL for the media player to use as\n// the source of the MP3 file to play when the coffee maker is done.\n\n\nconst randomIndex = Math.floor(Math.random() * msg.payload);\nfileNumber = randomIndex + 10;\nvar soundFxURL = global.get('globalVariables').soundFxURL;\nvar theme_folder = global.get('soundFx').soundFxTheme;\n\nif (theme_folder == \"\") {\n    var MP3_URL = soundFxURL + \"/desk/down/\" + fileNumber + \".mp3\";\n} else {\n    var MP3_URL = soundFxURL + \"/desk/down/\" + theme_folder + \"/\" + fileNumber + \".mp3\";\n}\n\nmsg.payload = MP3_URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["d3441a93.123e58"]]},{"id":"d3441a93.123e58","type":"change","z":"5f8efb7a.7a3bc4","name":"Get Sound FX Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"soundFx.soundFxLevel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":680,"wires":[["77afbd97.5b66a4"]]},{"id":"77afbd97.5b66a4","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Set Volume {{payload}}","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.guest_bathroom_speaker"],"data":"{\"volume_level\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":680,"wires":[[]]},{"id":"6a57a6e5.8a72b8","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.guest_bathroom_speaker"],"data":"{\"media_content_id\":\"{{{payload}}}\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":640,"wires":[[]]},{"id":"5da56c50.56b514","type":"function","z":"5f8efb7a.7a3bc4","name":"Get Path to Desk Down Sounds","func":"var deskDownPath = global.get('soundFx').soundFxDeskDownPath;\nvar themePath = global.get('soundFx').soundFxTheme;\n\nmsg.payload = deskDownPath + themePath;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":600,"wires":[["b1d529bd.48edf8"]]},{"id":"b1d529bd.48edf8","type":"fs-ops-dir","z":"5f8efb7a.7a3bc4","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.mp3","filterType":"str","dir":"files","dirType":"msg","x":500,"y":600,"wires":[["287b77b.e812e88"]]},{"id":"3213a7e9.9ab988","type":"change","z":"5f8efb7a.7a3bc4","name":"Count and Store File Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":800,"wires":[["640927f7.2a1fb8"]]},{"id":"640927f7.2a1fb8","type":"function","z":"5f8efb7a.7a3bc4","name":"Generate Random MP3 URL","func":"// Using the file count from the defined soundFxCoffeePath under global.soundFx\n// we add 10 to ensure double digits, then we generate a URL for the media player to use as\n// the source of the MP3 file to play when the coffee maker is done.\n\n\nconst randomIndex = Math.floor(Math.random() * msg.payload);\nfileNumber = randomIndex + 10;\nvar soundFxURL = global.get('globalVariables').soundFxURL;\nvar theme_folder = global.get('soundFx').soundFxTheme;\n\nif (theme_folder == \"\") {\n    var MP3_URL = soundFxURL + \"/desk/up/\" + fileNumber + \".mp3\";\n} else {\n    var MP3_URL = soundFxURL + \"/desk/up/\" + theme_folder + \"/\" + fileNumber + \".mp3\";\n}\n\nmsg.payload = MP3_URL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":840,"wires":[[]]},{"id":"9944bf9f.22e46","type":"change","z":"5f8efb7a.7a3bc4","name":"Get Sound FX Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"soundFx.soundFxLevel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":880,"wires":[["f70c06ff.7e61b8"]]},{"id":"f70c06ff.7e61b8","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"Set Volume {{payload}}","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.guest_bathroom_speaker"],"data":"{\"volume_level\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":880,"wires":[[]]},{"id":"ca9c3c58.f9683","type":"api-call-service","z":"5f8efb7a.7a3bc4","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.guest_bathroom_speaker"],"data":"{\"media_content_id\":\"{{{payload}}}\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":840,"wires":[[]]},{"id":"1bd7004d.72712","type":"fs-ops-dir","z":"5f8efb7a.7a3bc4","name":"Scan for MP3","path":"payload","pathType":"msg","filter":"*.mp3","filterType":"str","dir":"files","dirType":"msg","x":520,"y":800,"wires":[["3213a7e9.9ab988"]]},{"id":"7a7fbf56.ef58","type":"function","z":"5f8efb7a.7a3bc4","name":"Get Path to Desk Up Sounds","func":"var deskUpPath = global.get('soundFx').soundFxDeskUpPath;\nvar themePath = global.get('soundFx').soundFxTheme;\n\nmsg.payload = deskUpPath + themePath;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":800,"wires":[["1bd7004d.72712"]]},{"id":"1ed7f8d7.65f0f7","type":"function","z":"e8b16d9b.c9233","name":"Create list of messages and store to Global Variable","func":"// Create your list of messages and store them temporarily in myMessages\nvar myMessages = [\"message1\",\"message2\",\"message3\"];\n\n// Set a NodeRED Global Context Variable called \"myMessages\" and insert the contents of myMessages as defined in the previous line.\nglobal.set(\"myMessages\", myMessages);\n\n\nreturn msg;\n\n// You can setup a periodic inject node to trigger this to ensure that the messages\n// are always available to NodeRED.","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1260,"wires":[["76f3500.0bd23b"]]},{"id":"739a83ee.86becc","type":"inject","z":"e8b16d9b.c9233","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1260,"wires":[["1ed7f8d7.65f0f7"]]},{"id":"76f3500.0bd23b","type":"debug","z":"e8b16d9b.c9233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":1400,"wires":[]},{"id":"a6b82578.e61388","type":"inject","z":"e8b16d9b.c9233","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1360,"wires":[["ebb6b07d.bf389"]]},{"id":"ebb6b07d.bf389","type":"function","z":"e8b16d9b.c9233","name":"Example of how to access each message in the array","func":"// Get the value of the first value in the global variable (array) we created in the previous inject.\nvar currentMessage = global.get('myMessages[0]');\n\n// Set the payload to the currentMessage as defined in the last line.\nmsg.payload = currentMessage;\n\n// Send the message through.\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1360,"wires":[["76f3500.0bd23b"]]},{"id":"e2a370d2.d10ec","type":"function","z":"e8b16d9b.c9233","name":"Example of how to count items in an array and assign to a variable.","func":"// Set a temporary value for currentMessage to the number of messages (length) in the array.\nvar currentMessage = global.get('myMessages').length;\n\n// Set the payload to that value.\nmsg.payload = currentMessage;\n\n// Send the message through.\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1460,"wires":[["76f3500.0bd23b"]]},{"id":"981193d6.b31b","type":"inject","z":"e8b16d9b.c9233","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1460,"wires":[["e2a370d2.d10ec"]]},{"id":"46387613.508b68","type":"inject","z":"e8b16d9b.c9233","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1560,"wires":[["faebeaeb.953dc8"]]},{"id":"faebeaeb.953dc8","type":"function","z":"e8b16d9b.c9233","name":"Example of how to send the random message to the payload.","func":"// Get the length of the list of messages.\nvar messagesAvailable = global.get('myMessages').length;\n\n// Generate a random number based upon that number\nconst randomIndex = Math.floor(Math.random() * messagesAvailable);\n\n// Get the messages from the global variable and store them here in 'message'\nvar message = global.get('myMessages');\n\n// Set the message payload to the message in the position defined by the random index.\nmsg.payload = message[randomIndex];\n\n// Send the message through to the next node.\nreturn msg;\n\n\n// When you call the notify service, your data is going to be {\"message\":\"{{payload}}\"}\n// The notification node will be the last in the chain.","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1560,"wires":[["76f3500.0bd23b"]]},{"id":"919561a82f9715b1","type":"link in","z":"4d7aadeed64b996a","name":"","links":["b273b3c6.bb7ea"],"x":175,"y":60,"wires":[["f71d4ca0a07b01e0"]]},{"id":"f71d4ca0a07b01e0","type":"api-call-service","z":"4d7aadeed64b996a","name":"Grandfather Clock Enable","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.grandfather_clock"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":60,"wires":[[]]},{"id":"40829506343279e2","type":"ha-get-entities","z":"c2ebc97fb0954050","name":"Monoprice Zone Status","server":"c7cbc76b.fd06a8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"media_player.zone_*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":350,"y":60,"wires":[["3d8d53c508150fda","2f318dfcf01a9257","821af0c7e38669f5","14839a7f6ff01b2f","35f57526ea70b707","3826d59098b12b86"]]},{"id":"3d8d53c508150fda","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.0.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":60,"wires":[["425f07b1336a0f54"]]},{"id":"2f318dfcf01a9257","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.1.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":100,"wires":[["81edb34161cfae17"]]},{"id":"821af0c7e38669f5","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.2.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":140,"wires":[["d5003d23f664f004"]]},{"id":"14839a7f6ff01b2f","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.3.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":180,"wires":[["3147b498ed11c2b2"]]},{"id":"35f57526ea70b707","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.4.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":220,"wires":[["984f3d9c10d99f09"]]},{"id":"3826d59098b12b86","type":"switch","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","property":"payload.5.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["6106ac4b04d8fa7b"]]},{"id":"425f07b1336a0f54","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.0.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[0].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":60,"wires":[["54284670468b4fef"]]},{"id":"54284670468b4fef","type":"ha-get-entities","z":"c2ebc97fb0954050","name":"","server":"c7cbc76b.fd06a8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"payload","valueType":"msg"},{"property":"state","logic":"is","value":"idle","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":990,"y":160,"wires":[["3be540bc9bf7a050"]]},{"id":"3be540bc9bf7a050","type":"api-call-service","z":"c2ebc97fb0954050","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{zone}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":160,"wires":[[]]},{"id":"2388ad3b2dd77cc5","type":"link out","z":"c2ebc97fb0954050","name":"link out 1","mode":"link","links":[],"x":145,"y":380,"wires":[]},{"id":"2b3957ca956b3749","type":"link in","z":"c2ebc97fb0954050","name":"Monoprice Auto Shutoff","links":["7bfd16e4.fd62a8"],"x":165,"y":60,"wires":[[]]},{"id":"81edb34161cfae17","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.1.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[1].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":100,"wires":[["54284670468b4fef"]]},{"id":"aae87f799fa1e0da","type":"server-state-changed","z":"c2ebc97fb0954050","g":"f3eb5b908ba21d2c","name":"PicorePlayer Paused","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.picoreplayer1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":630,"y":400,"wires":[["a07290664da587ed"],[]]},{"id":"a07290664da587ed","type":"api-call-service","z":"c2ebc97fb0954050","g":"f3eb5b908ba21d2c","name":"Stop PicorePlayer1","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"media_stop","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":400,"wires":[[]]},{"id":"d02a9e41691fe519","type":"comment","z":"c2ebc97fb0954050","g":"f3eb5b908ba21d2c","name":"Ensure IDLE state","info":"Ensures that the media player becomes idle instead of paused.","x":630,"y":360,"wires":[]},{"id":"d5003d23f664f004","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.2.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[2].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":140,"wires":[["54284670468b4fef"]]},{"id":"3147b498ed11c2b2","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.3.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[3].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":180,"wires":[["54284670468b4fef"]]},{"id":"984f3d9c10d99f09","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.4.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[4].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["54284670468b4fef"]]},{"id":"6106ac4b04d8fa7b","type":"change","z":"c2ebc97fb0954050","g":"314f89b738cad55c","name":"","rules":[{"t":"set","p":"zone","pt":"msg","to":"payload.5.entity_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"media_player.\" & payload[5].attributes.source","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["54284670468b4fef"]]},{"id":"a5ddf776ed5dd00a","type":"trigger-state","z":"bad844c47367a689","name":"BabyCam1 Motion Sensor","server":"c7cbc76b.fd06a8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.g3_instant_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":170,"y":120,"wires":[[],[]]},{"id":"b07cf6d74001efc1","type":"server-state-changed","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.moen_master_shower_control","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"heat_cool","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":60,"wires":[["5c8acb43cbb3e441","70ee86f2cfe4506e","aa4b3d9eaa6301e1"],[]]},{"id":"5c8acb43cbb3e441","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wled_master_shower_niche_master"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":60,"wires":[["f1c1417103f64e14"]]},{"id":"f1c1417103f64e14","type":"ha-wait-until","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"light.wled_master_shower_niche_master","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":780,"y":60,"wires":[["a97250ba3c1b0339"]]},{"id":"a97250ba3c1b0339","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wled_master_shower_niche"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":160,"wires":[["e780f0ef4def26e5"]]},{"id":"e780f0ef4def26e5","type":"ha-wait-until","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"light.wled_master_shower_niche","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":300,"y":160,"wires":[["3c6e1e4ce3c75260"]]},{"id":"3c6e1e4ce3c75260","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.wled_master_shower_niche_preset"],"data":"{\"option\":\"Candles\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":160,"wires":[[]]},{"id":"7b5c52b7f4e7983f","type":"server-state-changed","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.wled_master_shower_niche","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":240,"wires":[["2beeefa8db573f6b"],[]]},{"id":"2beeefa8db573f6b","type":"ha-wait-until","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"select.wled_master_shower_niche_preset","entityIdFilterType":"exact","property":"state","comparator":"is","value":"Candles","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":240,"wires":[["c7090c2f7bdc80c3"]]},{"id":"c7090c2f7bdc80c3","type":"ha-wait-until","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":1,"outputs":1,"entityId":"climate.moen_master_shower_control","entityIdFilterType":"exact","property":"attributes.current_temperature","comparator":"gte","value":"114","valueType":"num","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":720,"y":240,"wires":[["773067840cc4136c"]]},{"id":"773067840cc4136c","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.wled_master_shower_niche_preset"],"data":"{\"option\":\"Fire\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":320,"wires":[[]]},{"id":"c891b3c353ff5243","type":"server-state-changed","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.moen_master_shower_control","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":300,"wires":[["5887a0d24bbbc3ae","567327b85319bd3d","fb0b6dabc3be5bcd"],[]]},{"id":"ee759a14dc3c955f","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.wled_master_shower_niche_master"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":400,"wires":[[]]},{"id":"70ee86f2cfe4506e","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["17e3902e72edb3aca316eaeea9740928"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":120,"wires":[[]]},{"id":"e1541e72091cf31b","type":"api-call-service","z":"863929b5d6c7ebed","name":"","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["17e3902e72edb3aca316eaeea9740928"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":460,"wires":[[]]},{"id":"5887a0d24bbbc3ae","type":"stoptimer","z":"863929b5d6c7ebed","duration":"8","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":500,"y":460,"wires":[["e1541e72091cf31b"],[]]},{"id":"aa4b3d9eaa6301e1","type":"change","z":"863929b5d6c7ebed","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["5887a0d24bbbc3ae"]]},{"id":"567327b85319bd3d","type":"stoptimer","z":"863929b5d6c7ebed","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":550,"y":400,"wires":[["ee759a14dc3c955f"],[]]},{"id":"0ec420badb990d92","type":"api-call-service","z":"863929b5d6c7ebed","name":"Turn off Music","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"media_stop","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":620,"wires":[["3ed7e7dd8159e330"]]},{"id":"fb0b6dabc3be5bcd","type":"stoptimer","z":"863929b5d6c7ebed","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":540,"wires":[["0ec420badb990d92"],[]]},{"id":"3ed7e7dd8159e330","type":"api-call-service","z":"863929b5d6c7ebed","name":"Clear Playlist","server":"c7cbc76b.fd06a8","version":5,"debugenabled":false,"domain":"media_player","service":"clear_playlist","areaId":[],"deviceId":[],"entityId":["media_player.picoreplayer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":620,"wires":[[]]},{"id":"fea0c3801b4ee91d","type":"fs-file-lister","z":"87e6f72395a037df","name":"","start":"/share/unraid_media/udmpro/","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":false,"single":true,"depth":"10","stat":false,"showWarnings":false,"x":380,"y":60,"wires":[["40c5203cf70d7359"]]},{"id":"fccfcf3b25a87eda","type":"inject","z":"87e6f72395a037df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["fea0c3801b4ee91d"]]},{"id":"4a2059d7b3c02450","type":"debug","z":"87e6f72395a037df","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"40c5203cf70d7359","type":"change","z":"87e6f72395a037df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["4a2059d7b3c02450","7f36a638ebd6d515"]]},{"id":"7f36a638ebd6d515","type":"ha-entity","z":"87e6f72395a037df","name":"Remaining Files","server":"c7cbc76b.fd06a8","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ubv-files-remaining"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":700,"y":280,"wires":[[]]},{"id":"c5e672c8c03dddd3","type":"fs-file-lister","z":"87e6f72395a037df","name":"","start":"/share/unraid_media/Inbound/","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":false,"single":true,"depth":"10","stat":false,"showWarnings":false,"x":180,"y":220,"wires":[["14a33b555186b89b"]]},{"id":"14a33b555186b89b","type":"change","z":"87e6f72395a037df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["6c3508b2fcc8a647","b8ace75afe256160"]]},{"id":"6c3508b2fcc8a647","type":"ha-entity","z":"87e6f72395a037df","name":"Inbound Media Files","server":"c7cbc76b.fd06a8","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"inbound_media"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":560,"y":400,"wires":[[]]},{"id":"b8ace75afe256160","type":"debug","z":"87e6f72395a037df","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":520,"wires":[]},{"id":"4c6a42c1714b88d6","type":"inject","z":"87e6f72395a037df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["c5e672c8c03dddd3"]]}]